<div class="container justify-content-center">
    <h1 class="p-2">Privacy Policy</h1>

    <!-- <h6 class="p-3">Welcome to Cukkuboo</h6> -->
    <p>
        This Privacy Policy (“Privacy Policy”) applies to cukkuboo Site/ App platforms including without limitation www.cukkuboo.app (https://www.cukkuboo.app) and other related Site/s or App/s, mobile applications and other online features each a “Site/s or App/s”).



This Privacy Policy should be read in conjunction with the Terms of Use available on the “Site/s or App/s”. Personal Information/Data defined below of a user/s is collected if the user/s registers with the Site/s or App/s, accesses the Site/s or App/s or takes any action on the Site/s or App/s or uses or accesses the Services as defined in the Terms of Use. The terms ‘Personal Information’ and ‘Sensitive Personal Information or Information’ shall have the meaning ascribed to it under the Indian Information Technology Act, 2000 read with the Information Technology.
    </p>

    <p>
      <strong>WHAT DO WE DO WITH YOUR INFORMATION? </strong> 
        When you subscribe to something from our packages as part of the buying and selling process, we collect the personal information you give us such as your name, address and email address.

            When you browse our packages, we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system. Email marketing (if applicable): With your permission, we may send you emails about our store, new products and other updates.
    </p>

    <p>
        <strong>CONSENT:</strong><br>
       When you provide us with personal information to complete a transaction, verify your credit card, we imply that you consent to our collecting it and using it for that specific reason only.
       If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no. By registering/opting in/signing up you agree to give us your consent to contact you.
    </p>

    <p>
        <strong>DISCLOSURE</strong><br>
        We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.
    </p>

    <p>
        You must not remove or tamper with any copyright, trademark, or digital protection technology associated with our content (e.g., geo-blocking or encryption).
    </p>

    <p>
        <strong>PAYMENT:</strong><br>
        We use Razorpay for processing payments. We/Razorpay do not store your card data on their servers. The data is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS) when processing payment. Your purchase transaction data is only used as long as is necessary to complete your purchase transaction.
    </p>

    <p>
        After that is complete, your purchase transaction information is not saved. Our payment gateway adheres to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover. PCI-DSS requirements help ensure the secure handling of credit card information by our store and its service providers. For more insight, you may also want to read terms and conditions of Razor Pay on https://razorpay.com
    </p>
</div>
