<div class="sidebar" [ngClass]="{ 'collapsed': isCollapsed }">
  <div class="logo-container">
    <!-- Full logo -->
    <img src="assets/logo.png" alt="App Logo" class="app-logo full-logo" />
    <!-- Collapsed logo -->
    <img src="assets/logo-collapsed.png" alt="Collapsed Logo" class="app-logo collapsed-logo" />
  </div>
  

  <div class="app-name">
  
  </div>

  <ul class="menu">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" 
        class="menu-item-with-submenu w-100"
        [ngClass]="{ 'hoverable': isCollapsed && menuItem.subItems?.length }"
        (mouseenter)="onMouseEnter(menuItem)"
        (mouseleave)="onMouseLeave(menuItem)">

      <ng-container *ngIf="menuItem.subItems?.length; else mainmenu">
        <a (click)="onMenuItemClick(menuItem, $event)" class="menu-link">
          <i class="fas {{ menuItem.icon }}"></i>
          <p class="menu-name">{{ menuItem.name }}</p>
          <!-- Responsive chevron icon -->
          <i
            class="fas ms-auto arrow"
            [ngClass]="{
              'fa-chevron-up': isMobileView && menuItem.showSubmenu,
              'fa-chevron-down': isMobileView && !menuItem.showSubmenu,
              'fa-chevron-left': !isMobileView && menuItem.showSubmenu,
              'fa-chevron-right': !isMobileView && !menuItem.showSubmenu
            }"
          ></i>
        </a>

        <!-- Submenu -->
        <ul
          *ngIf="menuItem.showSubmenu"
          class="submenu-list open"
          (click)="$event.stopPropagation()">
          <li *ngFor="let subItem of menuItem.subItems">
            <a [routerLink]="[subItem.path]" (click)="onSubItemClick()">{{ subItem.name }}</a>
          </li>
        </ul>
      </ng-container>

      <ng-template #mainmenu>
        <a [routerLink]="[menuItem.path]" class="menu-link" (click)="itemSelected.emit()">
                    <i class="fas {{ menuItem.icon }}"></i>
          <p class="menu-name" *ngIf="!isCollapsed">{{ menuItem.name }}</p>
        </a>
      </ng-template>
    </li>
  </ul>

  <button class="toggle-btn" (click)="toggleSidebar()">
    <i class="fas" [ngClass]="isCollapsed ? 'fa-chevron-right' : 'fa-chevron-left'"></i>
  </button>
</div>
