.gen-login-page-background {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-size: cover;
  z-index: -1;
}


.signup-link {
  font-size: 0.875rem;
  font-weight: 500;

}
.red-link {
  color:var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}
.small-eye-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 16px;
}

.red-button {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: 600;
  font-size: 14px;        
  padding: 6px 16px;     
  border-radius: 30px;     
  text-transform: uppercase;
  min-width: auto;         
  box-shadow: none;

  &:hover {
    background-color: var( --primarydark-color);
  }
}

h4 {
  font-size: 1.25rem;
}
