<div class="login-container">
  <div class="login-card">
    <img src="assets/logo-collapsed.png" alt="App Logo" class="app-logo collapsed-logo" />
    <h2>Admin Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="d-flex flex-column align-items-center">
      <input type="text" placeholder="Username" formControlName="email" required />

     <div class="password-wrapper">
  <input [type]="hoveringEye ? 'text' : 'password'" placeholder="Password" 
         formControlName="password" required />
  <i class="fa d-md-block d-none" 
     [ngClass]="hoveringEye ? 'fa-eye' : 'fa-eye-slash'" 
     (mousedown)="hoveringEye = true" 
     (mouseup)="hoveringEye = false" 
     (mouseleave)="hoveringEye = false">
  </i>
  <i class="fa d-block d-md-none"
  [ngClass]="hoveringEye ? 'fa-eye' : 'fa-eye-slash'"
  (click)="hoveringEye = !hoveringEye">
</i>

</div>


      <!-- Google reCAPTCHA -->
      <div id="recaptcha-container" class="g-recaptcha"  ></div>
<!-- data-sitekey="6LeoL5UpAAAAABy-sNgzr_XHc2vWl2Kpr45VHWey"
        data-callback="captchaResolved"
        data-expired-callback="captchaExpired" -->

      <button type="submit" >Login</button>
    </form>
  </div>
</div>
