<div class="container my-5" style="max-width: 900px;">
    <h3 class="mb-4">Your Subscription Plan</h3>

    <!-- Current Active Plan -->
    <div class="card shadow-lg border-0 mb-4">
        <div class="card-body active-plan-body">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-star text-warning fs-3 me-3"></i>
                    <div>
                        <h5 class="mb-0 fw-bold">Premium Plan</h5>
                        <small class="text-danger">Active Subscription</small>
                    </div>
                </div>
            
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <p class="mb-1">Valid Until</p>
                    <p class="fw-semibold">6/8/2025</p>
                </div>
                <div class="col-md-4">
                    <p class="mb-1">Plan Price</p>
                    <p class="fw-semibold">₹199</p>
                </div>
                <div class="col-md-4">
                    <p class="mb-1">Devices</p>
                    <p class="fw-semibold">Unlimited</p>
                </div>
            </div>

            <h6 class="text-uppercase">About This Plan</h6>
            <p class="">
                The Premium Plan gives you unlimited access to all content in full HD with no ads. You can stream on any
                device, anytime.
            </p>

            <h6 class="text-uppercase mt-4">Plan Benefits</h6>
            <ul class="list-unstyled">
                <li class="mb-2"><i class="fa-solid fa-circle-check text-danger me-2"></i> Ad-free entertainment</li>
                <li class="mb-2"><i class="fa-solid fa-circle-check text-danger me-2"></i> Watch on any device</li>
                <li class="mb-2"><i class="fa-solid fa-circle-check text-danger me-2"></i> Full HD available</li>
                <li class="mb-2"><i class="fa-solid fa-circle-check text-danger me-2"></i> Unlimited movies and shows
                </li>
            </ul>
            <div class="mt-auto text-end">
            <button class="btn btn-outline-danger btn-sm">
                <i class="fa-solid fa-ban me-1"></i> Cancel Plan
            </button>
        </div>
        </div>

        


    </div>



</div>