<div class="container p-4">
    <div class="card" style="width: 40rem; border: none">
        <h5 class="card-header card-head">All Plans</h5>
        <div class="card-body ca-body">
            <ul class="list-unstyled">
                <li class="py-2">
                    <i class="fa-solid fa-star text-danger me-2"></i>Interruption free
                    entertainment.
                </li>

                <li class="py-2">
                    <i class="fa-solid fa-star text-danger me-2"></i>All latest movies.
                </li>
                <li class="py-2">
                    <i class="fa-solid fa-star text-danger me-2"></i>Every week 2 new
                    releases.
                </li>
                <li class="py-2">
                    <i class="fa-solid fa-star text-danger me-2"></i>Selected movies free
                    after login
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <h5 class="p-1">Choose a plan for becoming PRIME member</h5>
    <div class="row justify-content-center p-4">
        <div class="col-md-4 p-3" *ngFor="let plan of plans">
            <div class="card plan-card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <p class="mb-0 fw-bold plan-name">{{ plan.plan_name}}</p>
                    <small class="text-white">{{plan.period}} Days</small>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <span class="fw-bold price-text">{{ plan.discount_price }}</span>
                            <span class="text-white ms-2 text-decoration-line-through">{{plan.price }}</span>
                        </div>
                        <a  class="btn btn-subscribe btn-sm">Subscribe</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>