


mat-card {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 20px;
}

.table-card {
  max-height: none;
}

mat-select,
textarea,
input {
 
  border-radius: 4px;
}
 


/* Ensure all form fields are the same width */
.form-section {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  
}
.form-card{
  padding-top: 15px;
  padding-bottom: 15px;
}
.left-side,
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}



.right-side {
  align-items: flex-end;
  justify-content: flex-start;
}



.button-wrapper {
  width: 50%;
  padding: 0 10px 20px;
  display: flex;
  justify-content: flex-end;
}

.add--button {

  color: white!important;
  border-radius: 24px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  padding: 0 16px;
 
  border: none;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center; background-color: #c71336; 

  &:hover {
      background-color: #e96238 !important;
    }

}

.action{
  width:80px;
}
// .mat-form-field-label,
// .mat-hint,
// input::placeholder {
//   color: #aaa !important;
// }

// input.mat-input-element {
//   color: white;
// }



.icon:hover {
  color: #ff1744;
}

.custom-table th.mat-header-cell {
  background-color: #333;
  color: white;
}

.custom-table td.mat-cell {
  background-color: #444;
  color: white;
}

.table-card {
  background-color: #222;
  color: white;
}

.badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  display: inline-block;
  min-width: 80px;
  text-align: center;
  color: white;
}

.badge-enabled {
  background-color: #4caf50;
  color: #fff;
}

.badge-disabled {
  background-color: #7d2725;
  color: #fff;
}

/*  smaller screens */
@media (max-width: 768px) {
  .form-section {
    flex-direction: column;
  }

  .right-side,
  .left-side {
    align-items: stretch;
  }

  .right-side {
    justify-content: flex-start;
  }
}

.form-actions {
  padding: 90px 10px 0px 30px;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 575px) {
  .form-section {
    flex-direction: column;
  
  }

  th.mat-column-description,
  td.mat-column-description,
  th.mat-column-status,
  td.mat-column-status{
    display: none !important;
  }
  .left-side,
  .right-side {
    flex: none; /* remove flex-grow */
    width: 100%;
    align-items: stretch;
  }

  .right-side {
    justify-content: flex-start;
    margin-top: 16px;
  }

  .form-actions {
    padding: 20px 10px 10px 10px;
    justify-content: center;
  }

  
  .add-button {
    width: 100%;
    height: 44px;
    font-size: 16px;
  }

 

 
 
}


@media (max-width: 320px) {
 

  // th.mat-column-status,
  // td.mat-column-status{
  //   display: none !important;
  // }
 

 
}
.action-icons {
  display: flex;
  gap: 8px;
  align-items: center;

  @media (max-width: 768px) {
    justify-content: flex-start;
  }
}
