:host {
  >div {
    height: 100%;
    padding: 10px 25px;
    min-height: 150px;
    min-width: 200px;
    color: var(--white-color);
  }

  h2,
  h5 {
    text-align: center;
  }



  button {
    min-width: 80px;
    line-height: 1;
  }

  label {
    color: #727272;

    &:hover {
      color: #86a7ff;
    }
  }

  .btn-yes {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }

  .btn-no {
    background-color: transparent;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
  }
}