<div class="row justify-content-center black no-scroll">
  <div class="padded-alert" role="alert">
    <h6 class="alert-heading text-center">
<i class="fa-solid fa-triangle-exclamation alert-icon"> </i> Warning
    </h6>
    <p class="mb-0 text-white text-center">
      All your data, watch history, and subscriptions will be lost.
    </p>
    <p class="mb-0 text-white text-center">
      This action is irreversible.
    </p>
    <p class="mb-0 text-white text-center">Do you want to continue?</p>
    <div class="text-center mt-3">
      <button id="confirm-delete" class="btn btn-yes btn-sm me-2">Yes</button>
      <button id="cancel-delete" class="btn btn-no btn-sm">No</button>
    </div>
  </div>
</div>
