<div class="content-container">

  <div class="header-row">
    <h2>{{StaffId ? 'Edit Staff' : 'Add Staff'}}</h2>
    <button class="back-to-list-button" (click)="goBack()">Back to List</button>
  </div>
  <div [formGroup]="staffForm" *ngIf="staffForm">
    <mat-card appearance="outlined" class="form-card">
      <mat-card-content class="d-flex flex-wrap">

        <!-- Name -->
        <div class="w-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Name</mat-label>
            <input matInput formControlName="username" placeholder="Add name" required>
            <mat-error>
              <Validation-Messages [control]="staffForm.controls['username']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>


        <!-- Mobile Number -->
        <div class="w-50 px-2 pb-3">
          <div class="d-flex">
            <!-- Country Code -->
            <mat-form-field appearance="outline" class="me-1 country-code-field">
              <mat-label>Code</mat-label>
              <mat-select formControlName="countryCode">
                <mat-option *ngFor="let country of countryCodes" [value]="country.dial_code"
                  [matTooltip]="country.name">
                  <small>{{country.id}} ({{ country.dial_code }})</small>
                </mat-option>
              </mat-select>
              <mat-error>
                <Validation-Messages [control]="staffForm.controls['countryCode']"></Validation-Messages>
              </mat-error>
            </mat-form-field>

            <!-- Phone Number -->
            <mat-form-field appearance="outline" class="phone-number-field">
              <mat-label>Mobile Number</mat-label>
              <input matInput formControlName="phone" maxlength="15" placeholder="Enter mobile number"
                (input)="onNumberInput($event)" />
              <mat-error>
                <Validation-Messages [control]="staffForm.controls['phone']"></Validation-Messages>
              </mat-error>
            </mat-form-field>
          </div>
        </div>


        <!-- Email -->
        <div class="w-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" placeholder="Add email"
              (input)="forceLowerCaseEmail($event)" autocomplete="off" />
            <mat-error>
              <Validation-Messages [control]="staffForm.controls['email']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>


        <!-- Password -->
        <div class="w-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
              placeholder="Enter Password" (focus)="showPasswordHint = true" (blur)="showPasswordHint = false" />

            <button type="button" mat-icon-button matSuffix class="eye-toggle-btn" (click)="togglePasswordVisibility()"
              [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="!hidePassword">
              <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>

            <!-- <mat-hint *ngIf="showPasswordHint">
                Password must be at least 8 characters and include uppercase, lowercase, number, and special character.
              </mat-hint> -->

            <mat-error>
              <Validation-Messages class="validation"   [control]="staffForm.controls['password']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Status -->
        <div class="w-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="1">Active</mat-option>
              <mat-option value="2">Inactive</mat-option>
            </mat-select>
            <mat-error>
              <Validation-Messages [control]="staffForm.controls['status']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Join Date -->
        <div class="w-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Join Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="join_date" placeholder="Choose a date"
              (click)="picker.open()" readonly>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <!-- <mat-error>
              <Validation-Messages [control]="staffForm.controls['join_date']"></Validation-Messages>
            </mat-error> -->
          </mat-form-field>
        </div>

        <!-- Save Button -->
        <div class="save">
          <button class="save-button" mat-raised-button color="primary" (click)="saveStaff()">Save</button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>