.gen-meta-after-title i {
  font-size: 16px;
  margin-right: 2px;
}

.gen-meta-after-title span {
  font-size: 14px;
}

.rating-views {
  gap: 1.5rem;
  margin-bottom: 0;
}

.rating-views li {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
}

.rating-views li i {
  font-size: 16px;
  margin-right: 2px;
}

.rating-views li i.fa-star {
  color: #ffc107;
}

.rating-views li i.fa-star-o {
  color: #888;
}

.rating-views li i.fa-eye {
  color: #ccc;
  font-size: 15px;
}

.rating-views li span {
  margin-left: 4px;
  font-size: 14px;
  color: #ddd;
}

.gen-movie-contain-style-2 .gen-movie-info h3 {
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
  color: #fff;
}

.gen-movie-info h3,
.gen-movie-info h3 a {
  cursor: pointer;
}

.gen-btn-container {
  margin-top: 20px;
}

.gen-btn-container a.playBut {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.gen-btn-container a.playBut svg {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.gen-btn-container a.playBut svg .triangle,
.gen-btn-container a.playBut svg .circle {
  stroke: white;
}

.gen-btn-container a.playBut .play-movie {
  color: white;
  font-size: 23px;
  font-weight: 500;
  //   text-transform: uppercase;
}

.gen-btn-container a.playBut:hover svg {
  transform: scale(1.1);
}

.gen-btn-container a.playBut:hover .play-movie {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .gen-btn-container a.playBut svg {
    width: 32px;
    height: 32px;
  }

  .gen-btn-container a.playBut .play-movie {
    font-size: 18px;
  }

  .gen-movie-contain-style-2 .gen-movie-info h3 {
    font-size: 28px;
  }
}

.gen-btn-container a.playBut:hover .play-movie {
  text-decoration: none;
}

.gen-banner-movies .playBut {
  cursor: pointer;
}

.gen-btn-container a.playBut {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
}

.gen-btn-container a.playBut svg {
  width: 40px;
  height: 40px;
}

// .caro-style-1{
//   overflow: none !important;
//   padding-left: 0px !important;
//   padding-right: 0px !important;
// }
// .owl-item{
//   margin-right: 154px !important;
// }
.gen-button {
  &.view_more {
    @media(max-width:991px) {
      padding: 7px;
      text-transform:capitalize ;
      line-height: 1;
      background: transparent;
      color: var(--primary-color);
    }

    @media(max-width:991px) {
      font-size: 12px;
    }
  }
}
@media (max-width: 767px) {
  .gen-info-contain {
    padding-left: 10px;
  }

  .gen-info-contain h3,
  .gen-info-contain ul li {
    padding-left: 2px; /* slight inner padding to avoid cutoff */
  }
}
