<section class="pt-0 pb-0">
  <div class="container-fluid px-0">
    <div class="d-flex no-gutters">
      <div class="position-relative col-12 gen-banner-movies banner-style-2">
        <owl-carousel-o [options]="customOptions1">
          <ng-container *ngFor="let item of bannerData?.data">
            <ng-template carouselSlide>
              <div class="item" [ngStyle]="{ 'background-image': 'url(' + imageUrl+item.banner + ')' }">
                <div class="gen-movie-contain-style-2 h-100">
                  <div class="d-flex align-items-center h-100 p-5">
                    <div class="col-12 col-xl-8 p-2">
                      <div class="gen-tag-line"><span>{{bannerData.heading}}</span></div>
                      <div class="gen-movie-info">
                        <h3>{{ item.title }}</h3>
                      </div>
                      <div class="gen-movie-meta-holder">
                        <ul class="gen-meta-after-title">
                          <li class="gen-sen-rating"><span>{{ item.rating }}</span></li>
                          <li><img src="assets/images/asset-2.png" alt="rating-img"><span>{{ item.views }}</span></li>
                        </ul>
                        <p>{{ item.description }}</p>
                        <div class="gen-meta-info">
                          <ul class="gen-meta-after-excerpt">
                              <li><strong>Cast : </strong> {{ item.cast_details }}</li>
                              <li><strong>Category : </strong> {{ item.category == 1 ? 'Movie' : item.category == 2 ? 'Show' : 'Unknown' }}
                                <!-- <span *ngFor="let tag of item.tags"><a href="#">{{ tag }}</a></span> -->
                              </li>
                            </ul>
                        </div>
                      </div>
                      <div class="gen-movie-action d-flex">
                        <div class="gen-btn-container">
                          <a [routerLink]="['/movies', item.mov_id]" class="gen-button gen-button-dark">
                            <i class="fas fa-play"></i><span class="text">Play Now</span>
                          </a>
                        </div>
                        <div class="gen-btn-container d-block d-xl-none" (click)="playTrailer(item)">
                          <a [routerLink]="['/movies', item.mov_id]" class="gen-button gen-button-outline">
                             <i class="fas fa-play"></i><span class="text">Watch Trailer</span>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 d-none d-xl-flex">
                      <div class="gen-front-image mx-auto">
                        <img [src]="imageUrl+item.thumbnail" alt="carousel-image" />
                        <a (click)="playTrailer(item)" class="playBut">
                          <svg xmlns="http://www.w3.org/2000/svg" width="213.7" height="213.7"
                            viewBox="0 0 213.7 213.7">
                            <polygon class="triangle" fill="none" stroke-width="7" stroke-linecap="round"
                              stroke-linejoin="round" stroke-miterlimit="10"
                              points="73.5,62.5 148.5,105.8 73.5,149.1" />
                            <circle class="circle" fill="none" stroke-width="7" stroke-linecap="round"
                              stroke-linejoin="round" stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3" />
                          </svg>
                          <span>Watch Trailer</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>

        <video-palyer *ngIf="selectedItem" class="video_player" (onClose)="onCloseTrailer($event)"
          [videoSrc]="videoUrl+selectedItem.trailer">
        </video-palyer>
      </div>
    </div>
  </div>
</section>

<ng-container *ngFor="let list of listSections">
  <section class="gen-section-padding-2 bg-gradient">
    <div class="container">
      <div class="d-flex justify-content-between">
        <h4 class="gen-heading-title">{{ list.heading }}</h4>
        <a [routerLink]="['/movies']" class="gen-button gen-button-flat d-none d-md-flex">
          <span class="text">More Videos</span>
        </a>
      </div>
      <div class="row mt-3">
        <div class="col-12 caro-style-1">
          <owl-carousel-o [options]="carouselOptions2">
            <ng-container *ngFor="let movie of list.data">
              <ng-template carouselSlide>
                <div class="item h-100">
                  <div class="movie type-movie status-publish has-post-thumbnail hentry h-100">
                    <div class="gen-carousel-movies-style-2 movie-grid style-2 h-100">
                      <div class="gen-movie-contain h-100">
                        <div class="gen-movie-img h-100">
                          <img [src]="imageUrl+movie.banner" alt="movie-thumbnail">
                          <div class="gen-movie-add">
                            <div class="wpulike wpulike-heart">
                              <div class="wp_ulike_general_class wp_ulike_is_not_liked">
                                <button type="button" class="wp_ulike_btn wp_ulike_put_image"></button>
                              </div>
                            </div>
                          </div>
                          <div class="gen-movie-action">
                            <a [routerLink]="['/movies', movie.mov_id]" class="gen-button">
                              <i class="fa fa-play"></i>
                            </a>
                          </div>
                        </div>
                        <div class="gen-info-contain">
                          <div class="gen-movie-info">
                            <h3>
                              <a [routerLink]="['/movies', movie.mov_id]">{{ movie.title }}</a>
                            </h3>
                          </div>
                          <div class="gen-movie-meta-holder">
                            <ul>
                              <li>{{ movie.duration }}</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </section>
</ng-container>