<section class="pt-0 pb-0">
  <div class="container-fluid px-0">
    <div class="d-flex no-gutters">
      <div class="col-12 gen-banner-movies banner-style-2">
        <owl-carousel-o [options]="customOptions1">
          <ng-container *ngFor="let item of carouselItems">
            <ng-template carouselSlide>
              <div class="item" [ngStyle]="{'background-image': 'url(' + item.background + ')'}">
                <div class="gen-movie-contain-style-2 h-100">
                  <div class="container h-100">
                    <div class="row flex-row-reverse align-items-center h-100">
                      <div class="col-xl-6">
                        <div class="gen-front-image">
                          <img [src]="item.image" alt="carousel-image" />
                          <a [href]="item.trailer"
                             class="playBut popup-youtube popup-vimeo popup-gmaps">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="213.7px"
                                 height="213.7px" viewBox="0 0 213.7 213.7"
                                 enable-background="new 0 0 213.7 213.7" xml:space="preserve">
                              <polygon class="triangle" id="XMLID_17_" fill="none" stroke-width="7"
                                       stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                       points="73.5,62.5 148.5,105.8 73.5,149.1 "></polygon>
                              <circle class="circle" id="XMLID_18_" fill="none" stroke-width="7"
                                      stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                                      cx="106.8" cy="106.8" r="103.3">
                              </circle>
                            </svg>
                            <span>Watch Trailer</span>
                          </a>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="gen-tag-line">
                          <span>Most Viewed</span>
                        </div>
                        <div class="gen-movie-info">
                          <h3><a [routerLink]="['/movies', item.mov_id]">{{ item.title }}</a></h3>
                        </div>
                        <div class="gen-movie-meta-holder">
                          <ul class="gen-meta-after-title">
                            <li class="gen-sen-rating"><span>{{ item.rating }}</span></li>
                            <li>
                              <img src="assets/images/asset-2.png" alt="rating-image">
                              <span>0</span>
                            </li>
                          </ul>
                          <p>
                            Streamlab is a long established fact that a reader will be distracted...
                          </p>
                          <div class="gen-meta-info">
                            <ul class="gen-meta-after-excerpt">
                              <li><strong>Cast : </strong> {{ item.cast }}</li>
                              <li>
                                <strong>Genre : </strong>
                                <span *ngFor="let genre of item.genres">
                                  <a href="#">{{ genre }}</a>
                                </span>
                              </li>
                              <li>
                                <strong>Tag : </strong>
                                <span *ngFor="let tag of item.tags">
                                  <a href="#">{{ tag }}</a>
                                </span>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div class="gen-movie-action">
                          <div class="gen-btn-container">
                            <a [routerLink]="['/movies', item.mov_id]" class="gen-button .gen-button-dark">
                              <i class="fas fa-play"></i>
                              <span class="text">Play Now</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<!-- owl-carousel Videos Section-1 Start -->
<section class="gen-section-padding-2 bg-gradient">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h4 class="gen-heading-title">Trending Videos</h4>
      <a [routerLink]="['/videos']" class="gen-button gen-button-flat d-none d-md-flex">
        <span class="text">More Videos</span>
      </a>
    </div>
    <div class="d-flex mt-3">
      <div class="col-12 caro-style-1">
        <owl-carousel-o [options]="carouselOptions2">
          <ng-container *ngFor="let movie of movies">
            <ng-template carouselSlide>
              <div class="item">
                <div class="movie type-movie status-publish has-post-thumbnail hentry">
                  <div class="gen-carousel-movies-style-2 movie-grid style-2">
                    <div class="gen-movie-contain">
                      <div class="gen-movie-img">
                        <img [src]="movie.image" alt="owl-carousel-video-image">
                        <div class="gen-movie-add">
                          <div class="wpulike wpulike-heart">
                            <div class="wp_ulike_general_class wp_ulike_is_not_liked">
                              <button type="button" class="wp_ulike_btn wp_ulike_put_image"></button>
                            </div>
                          </div>
                          <div class="movie-actions--link_add-to-playlist dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-plus"></i></a>
                            <div class="dropdown-menu mCustomScrollbar">
                              <div class="mCustomScrollBox">
                                <div class="mCSB_container">
                                  <a class="login-link" href="register.html">
                                    Sign in to add this movie to a playlist.
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="gen-movie-action">
                          <a [routerLink]="['/movies', movie.mov_id]" class="gen-button">
                            <i class="fa fa-play"></i>
                          </a>
                        </div>
                      </div>
                      <div class="gen-info-contain">
                        <div class="gen-movie-info">
                          <h3><a [routerLink]="['/movies', movie.mov_id]">{{ movie.title }}</a></h3>
                        </div>
                        <div class="gen-movie-meta-holder">
                          <ul>
                            <li>{{ movie.duration }}</li>
                            <li *ngFor="let genre of movie.genres">
                              <a href="{{ genre.toLowerCase() }}.html"><span>{{ genre }}</span></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>

<!-- owl-carousel Videos Section-2 Start -->
<section class="gen-section-padding-2 bg-gradient">
  <div class="container">
    <div class="d-flex justify-content-between">
      <h4 class="gen-heading-title">Watched list</h4>
      <a [routerLink]="['/watched']" class="gen-button gen-button-flat d-none d-md-flex">
        <span class="text">More Videos</span>
      </a>
    </div>
    <div class="row mt-3">
      <div class="col-12 caro-style-1">
        <owl-carousel-o [options]="carouselOptions2">
          <ng-container *ngFor="let movie of movies">
            <ng-template carouselSlide>
              <div class="item">
                <div class="movie type-movie status-publish has-post-thumbnail hentry">
                  <div class="gen-carousel-movies-style-2 movie-grid style-2">
                    <div class="gen-movie-contain">
                      <div class="gen-movie-img">
                        <img [src]="movie.image" alt="owl-carousel-video-image">
                        <div class="gen-movie-add">
                          <div class="wpulike wpulike-heart">
                            <div class="wp_ulike_general_class wp_ulike_is_not_liked">
                              <button type="button" class="wp_ulike_btn wp_ulike_put_image"></button>
                            </div>
                          </div>
                          <div class="movie-actions--link_add-to-playlist dropdown">
                            <a class="dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa fa-plus"></i></a>
                            <div class="dropdown-menu mCustomScrollbar">
                              <div class="mCustomScrollBox">
                                <div class="mCSB_container">
                                  <a class="login-link" href="register.html">
                                    Sign in to add this movie to a playlist.
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="gen-movie-action">
                          <a [routerLink]="['/movies', movie.mov_id]" class="gen-button">
                            <i class="fa fa-play"></i>
                          </a>
                        </div>
                      </div>
                      <div class="gen-info-contain">
                        <div class="gen-movie-info">
                          <h3><a [routerLink]="['/movies', movie.mov_id]">{{ movie.title }}</a></h3>
                        </div>
                        <div class="gen-movie-meta-holder">
                          <ul>
                            <li>{{ movie.duration }}</li>
                            <li *ngFor="let genre of movie.genres">
                              <a href="{{ genre.toLowerCase() }}.html"><span>{{ genre }}</span></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
