<div class="main-layout">
    <!-- Topbar -->
    <header class="topbar">
      <app-topbar (sidebarToggle)="showSidebar=$event"></app-topbar>
    </header>
  
    <div class="layout-body">
      <!-- Sidebar -->
      <div class="sidebar_wrpr" [class.collapsed]="isSidebarCollapsed" [class.show]="showSidebar">
        <app-sidebar
        (sidebarToggle)="onSidebarToggled($event)"
        (itemSelected)="onSidebarItemSelected()">
      </app-sidebar>
      
            </div>
  
      <!-- Main Content -->
      <main class="content" [class.expanded]="isSidebarCollapsed"> 
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  