
.mr-2 {
  margin-right: 10px;
}


.search-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


.gen-breadcrumb {
  margin-bottom: 1rem;
}


#gen-footer {
  padding-top: 1rem;  
  padding-bottom: 1rem;
}


.mb-gap {
  margin-bottom: 1rem; 
}
.gen-movie-info h3 a {
  cursor: pointer;
  text-decoration: none; 
  color: inherit; 
}
.gen-movie-info h3 a:hover {
  color: red;
}
