
.mr-2 {
  margin-right: 10px;
}


.search-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}


.gen-breadcrumb {
  margin-bottom: 1rem;
}


#gen-footer {
  padding-top: 1rem;  
  padding-bottom: 1rem;
}


.mb-gap {
  margin-bottom: 1rem; 
}
.gen-movie-info h3 a {
  cursor: pointer;
  text-decoration: none; 
  color: inherit; 
}
.gen-movie-info h3 a:hover {
  color: red;
}
.no-movies-container {
  text-align: center;
  padding: 2rem 1rem;
  color: #888;
}

.no-movies-icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #ccc;
}

.no-movies-text {
  font-size: 1.25rem;
  font-weight: 500;
}
