<div class="content-container">
  <!-- <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 16px;">
    <h2>{{ isEditMode ? 'Edit Subscription Plan' : 'Add Subscription Plan' }}</h2>
    <button class="back-to-list-button" (click)="goBack()">Back to List</button>
  </div> -->
  <div class="header-row">
    <h2>{{ isEditMode ? 'Edit Subscription Plan' : 'Add Subscription Plan' }}</h2>
    <button class="back-to-list-button" (click)="goBack()">Back to List</button>
  </div>
  <mat-card appearance="outlined">
    <form [formGroup]="dataForm" (ngSubmit)="saveUser()">
      <mat-card-content class="d-flex flex-wrap">

        <!-- Plan -->
        <div class="w-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Plan</mat-label>
            <input matInput placeholder="Enter plan name" formControlName="name">
            <mat-error>
              <Validation-Messages [control]="dataForm.controls['name']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Price -->
        <div class="w-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Price</mat-label>
            <input matInput type="number" placeholder="Enter price" formControlName="price">
            <mat-error>
              <Validation-Messages [control]="dataForm.controls['name']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Period -->
        <div class="w-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Period</mat-label>
            <mat-select formControlName="period">
              <mat-option value="Monthly">Monthly</mat-option>
              <mat-option value="Quarterly">Quarterly</mat-option>
              <mat-option value="Yearly">Yearly</mat-option>
            </mat-select>
            <mat-error>
              <Validation-Messages [control]="dataForm.controls['period']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Features -->
        <div class="w-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Features</mat-label>
            <textarea matInput placeholder="Enter features" formControlName="features"></textarea>
            <mat-error>
              <Validation-Messages [control]="dataForm.controls['features']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Action -->
        <div class="action">
          <button class="save-button" mat-raised-button color="primary" type="submit">Save</button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>