// @import "~ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
// @import "~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
// @use "ngx-owl-carousel-o/lib/styles/scss/owl.carousel" as owlCarousel;
// @use "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default" as owlTheme;

// ------------------------//
owl-carousel-o {
    position: relative;
    //height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .owl-theme,
    .owl-stage-outer {
        height: 100%;

        owl-stage {
            > div {
                // display: flex;
                height: 100%;
            }

            .owl-stage {
                display: flex;
                height: 100%;

                .owl-item {
                    height: auto;
                    //display: flex;
                }
            }
        }
    }
}

.owl-item {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/*====================OWL Carousel Nav=========================*/

.owl-carousel .owl-nav {
    cursor: pointer;
    z-index: 9;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0%;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);

    [class*="owl-"] {
        outline: none;
        text-align: center;
        text-indent: inherit;
        position: absolute;
        top: 0;
        line-height: 1;
        padding: 0;
        margin: 0;
        color: var(--white-color) !important;
        background-color: transparent;
        text-shadow: 0 0 5px #000;
        transition: all 0.2s linear;

        &:hover {
            background-color: transparent;
            transform: scale(1.1);
        }
        &.disabled {
            opacity: 0.3;
        }
    }

    .owl-prev {
        left: 0;
    }

    .owl-next {
        right: 0;
    }
}

/*====================OWL Carousel Dots=========================*/

.owl-carousel .owl-dots {
    margin: 15px 0 0;
    line-height: normal;
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    text-indent: inherit;
    text-align: center;
    cursor: pointer;
}

.owl-carousel .owl-dots .owl-dot {
    span {
        box-shadow: none;
        outline: none;
        background: var(--white-color);
        opacity: 1;
        display: inline-block;
        padding: 0;
        margin: 0px 5px;
        height: 4px;
        width: 30px;
        border: none;
        border-radius: 0;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        cursor: pointer;
    }
}

.owl-carousel .owl-dots .owl-dot:hover {
    span {
        background: var(--primary-color);
        opacity: 1;
    }
}

.owl-carousel .owl-dots .owl-dot.active {
    span {
        background: var(--primary-color);
        opacity: 1;
    }
}

.caro-style-1 {
    overflow: hidden;
    padding-left: 25px;
    padding-right: 25px;
    .owl-carousel .owl-nav {
        top: 27%;

        .owl-prev {
            left: -25px;
        }

        .owl-next {
            right: -25px;
        }
    }
}
