<div class="edit-subscription-list-container">
  <div class="edit-modal">

    
    <h2>Edit Subscription</h2>
    <!-- <button class="back-to-list-button" (click)="goBack()">Back to List</button> -->
  </div>


  
  <mat-card appearance="outlined">
    <mat-card-content class="form-container">



      <!-- Plan Dropdown -->
      <div class="w-50 px-2 pb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Plan</mat-label>
          <mat-select [(value)]="selectedPlan">
            <mat-option value="Basic">Basic</mat-option>
            <mat-option value="Standard">Standard</mat-option>
            <mat-option value="Premium">Premium</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
       <!-- Period Dropdown -->
       <div class="w-50 px-2 pb-3">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Period</mat-label>
          <mat-select [(value)]="selectedPeriod">
            <mat-option value="Monthly">Monthly</mat-option>
            <mat-option value="Half-yearly">Half-yearly</mat-option>
            <mat-option value="Yearly">Yearly</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


        <!-- Action -->
<div class="button-container" >
  <button class="save-button" (click)="saveSubscription()">Save</button>
  <button class="cancel-button" (click)="cancel()">Cancel</button>
</div>

  
    </mat-card-content>
  </mat-card>
</div>
