.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;

  position: relative;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  padding-left: 10px;
}

.profile-dropdown i {
  font-size: 28px;
  color: white;
  padding: 0 10px;
}

.icon-small {
  font-size: 10px;
  margin-right: 8px;
  vertical-align: middle;
}


.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.search-input {
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  outline: none;
  width: 200px;
}

.search-input:focus {
  box-shadow: 0 0 5px white;
}

.profile-dropdown {
  position: relative;
  cursor: pointer;
}


.dropdown-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: rgba(93, 0, 0, 0.5);
  opacity: 3;
  border-radius: 6px;
  min-width: 140px;
  z-index: 999;
  backdrop-filter: blur(3px);
}

.dropdown-menu i {
  font-size: 15px;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.dropdown-menu a:hover {
  background-color: black;
  color: white;
}

.dropdown-menu.show {
  display: flex;
}

.search-input {
  padding: 6px 12px;
  border-radius: 4px;

  outline: none;
  width: 200px;
  background-color: transparent;
  color: #fff;

}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.logout-snackbar {
  text-align: center;
  padding: 16px;
  min-width: 250px;
}
.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0; top: 0; width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.85); /* dark overlay */
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal.show {
  display: flex;
}

.modal-content {
  background-color: transparent;
  padding: 25px 30px;
  border-radius: 12px;
  max-width: 320px;
  text-align: center;

  color: #fff;
  border: 2px solid #7d2725;
}

.modal-content p {
  font-size: 18px;
  margin-bottom: 20px;
}



.modal-actions {
  display: flex;
  justify-content: space-around;
}

.modal-actions button {
  cursor: pointer;
  border-radius: 6px;
  padding: 8px 22px;
  font-weight: 600;
  font-size: 14px;
  border: none;
  transition: background-color 0.3s ease;
  min-width: 90px;
}

.btn-yes {
  background-color:  #e53935;
  color: white;
}

.btn-yes:hover {
  background-color: #7d2725;
}

.btn-no {
  background-color: #333; /* dark gray */
  color: white;
  border: 2px solid #e53935;
}

.btn-no:hover {
  background-color: #e53935; /* red background */
  color: white;
}
