<!-- <div class="modal" [class.show]="showSubscriptionModal">
    <div class="modal-content">
        <h5 class="text-danger mb-3 text-start">Subscribe to {{ selectedPlan?.plan_name }}</h5>

        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-white">{{ selectedPlan?.period }} Days</span>
            <span>
                <span class="text-white text-decoration-line-through me-2">
                    ₹{{ selectedPlan?.price }}
                </span>
                <span class="fw-bold text-white">₹{{ selectedPlan?.discount_price }}</span>
            </span>
        </div>

        <div class="fa-checkbox-row single" (click)="acknowledged = !acknowledged">
            <i [ngClass]="acknowledged ? 'fa-solid fa-square-check' : 'fa-regular fa-square'"></i>
            <span class="checkbox-label">
                By proceeding, I acknowledge that I have read and agree to the
                <a [routerLink]="['/terms-of-use']" (click)="$event.stopPropagation()">Terms of Use</a>
                and
                <a [routerLink]="['/privacy-policy']" (click)="$event.stopPropagation()">Privacy Policy</a>,
                and I confirm that I am 18 years of age or older.
            </span>
        </div>

        <div class="modal-actions">
            <button class="btn-yes" [disabled]="!acknowledged" (click)="confirmSubscription()">
                Pay Now
            </button>
            <button class="btn-no" (click)="closeSubscriptionModal()">Cancel</button>
        </div>
    </div>
</div> -->


<div class="d-flex flex-column justify-content-center align-items-center">
    <h2 mat-dialog-title class="mb-1">Subscribe Now!</h2>
    <h6 class="col-12 mt-2 text-center">
        To enjoy
        <b class="mx-1 text-primary-clr">{{ data?.plan?.period }} day{{data?.plan?.period>1?'s':''}}</b>
        of access for just
        <span class="fw-bold">
            ₹{{ data?.plan?.discount_price?data?.plan?.discount_price:data?.plan?.price}},
        </span>
        Subscribe to plan "<b>{{data?.plan?.plan_name}}</b>" now!
    </h6>

    <h6 class="col-12 mt-2 d-flex justify-content-between " *ngIf="data?.plan?.discount_price">
        
        <span style="text-align: center; margin: auto;">
            Only
            <span class="fw-bold me-1 text-primary-clr"> <b>${{ data.plan?.discount_price}}</b></span>
            ($<span class="text-decoration-line-through">{{data?.plan?.price}}</span>)
        
        You Saved <b class="text-primary-clr">${{data.plan.price - data.plan.discount_price}}  </b></span>
    </h6>
    <div class="fa-checkbox-row single d-flex mt-4" (click)="acknowledged = !acknowledged">
        <i class="pt-2" [ngClass]="acknowledged ? 'fa-solid fa-square-check' : 'fa-regular fa-square'"></i>
        <span class="checkbox-label ms-2" style="text-align: justify;">
            By proceeding, I acknowledge that I have read and agree to the
            <a [href]="getLink('terms-of-use')" target="_blank" rel="noopener noreferrer" (click)="$event.stopPropagation()">Terms of
                Use</a>
            and
            <a [href]="getLink('privacy-policy')" target="_blank" rel="noopener noreferrer" (click)="$event.stopPropagation()"
                (click)="$event.stopPropagation()">Privacy Policy</a>,
            and I confirm that I am 18 years of age or older.
        </span>
    </div>

    <div mat-dialog-actions class="w-100 d-flex position-relative mt-4 justify-content-center gap-2">
        <button class="btn rounded res-button btn-no mx-1 px-3" (click)="cancel()"> Cancel </button>
        <button class="btn rounded res-button btn-yes mx-1 px-3" (click)="confirm()"> Proceed </button>
    </div>

</div>