<!-- <div class="modal" [class.show]="showSubscriptionModal">
    <div class="modal-content">
        <h5 class="text-danger mb-3 text-start">Subscribe to {{ selectedPlan?.plan_name }}</h5>

        <div class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-white">{{ selectedPlan?.period }} Days</span>
            <span>
                <span class="text-white text-decoration-line-through me-2">
                    ₹{{ selectedPlan?.price }}
                </span>
                <span class="fw-bold text-white">₹{{ selectedPlan?.discount_price }}</span>
            </span>
        </div>

        <div class="fa-checkbox-row single" (click)="acknowledged = !acknowledged">
            <i [ngClass]="acknowledged ? 'fa-solid fa-square-check' : 'fa-regular fa-square'"></i>
            <span class="checkbox-label">
                By proceeding, I acknowledge that I have read and agree to the
                <a [routerLink]="['/terms-of-use']" (click)="$event.stopPropagation()">Terms of Use</a>
                and
                <a [routerLink]="['/privacy-policy']" (click)="$event.stopPropagation()">Privacy Policy</a>,
                and I confirm that I am 18 years of age or older.
            </span>
        </div>

        <div class="modal-actions">
            <button class="btn-yes" [disabled]="!acknowledged" (click)="confirmSubscription()">
                Pay Now
            </button>
            <button class="btn-no" (click)="closeSubscriptionModal()">Cancel</button>
        </div>
    </div>
</div> -->


<div class="d-flex flex-column justify-content-center align-items-center">
    <h2 mat-dialog-title>Plan Details</h2>
    <div *ngIf="data.message" mat-dialog-content class="mt-1 confirm-message">Subscribe to {{ data?.plan?.plan_name }}
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-white">{{ data?.plan?.period }} Days</span>
        <span>
            <span class="text-white text-decoration-line-through me-2">
                ₹{{ data?.plan?.price }}
            </span>
            <span class="fw-bold text-white">₹{{ data?.plan?.discount_price }}</span>
        </span>
    </div>
    <div class="fa-checkbox-row single" (click)="acknowledged = !acknowledged">
        <i [ngClass]="acknowledged ? 'fa-solid fa-square-check' : 'fa-regular fa-square'"></i>
        <span class="checkbox-label ms-2">
            By proceeding, I acknowledge that I have read and agree to the
            <a href="/terms-of-use" target="_blank" rel="noopener noreferrer" (click)="$event.stopPropagation()">Terms of Use</a>
            and
            <a href="/privacy-policy" target="_blank" rel="noopener noreferrer" (click)="$event.stopPropagation()">Privacy Policy</a>,
            and I confirm that I am 18 years of age or older.
        </span>
    </div>

    <div mat-dialog-actions class="w-100 d-flex position-relative mt-4 justify-content-center gap-2">
        <button class="btn rounded res-button btn-no mx-1 px-3" (click)="cancel()"> cancel </button>
        <button class="btn rounded res-button btn-yes mx-1 px-3" (click)="confirm()"> Proceed </button>
    </div>

</div>