<header id="gen-header" class="gen-header-style-1 gen-has-sticky">
  <div class="gen-bottom-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 px-3">
          <nav class="navbar navbar-expand-lg navbar-light">

            <!-- Logo -->
            <a class="navbar-brand" routerLink="/">
              <img class="img-fluid logo" src="assets/images/logo.png" alt="streamlab-image" />
            </a>

            <!-- Toggle (Mobile) -->
            <div class="d-flex d-lg-none align-items-center">
              <a class="p-3" routerLink="/movies" [queryParams]="{ search: 1 }">
                <i class="fa-solid fa-magnifying-glass search"></i>
              </a>
              <div *ngIf="isSignedIn" class="notification-icon mx-2 position-relative d-lg-none">
                <i class="fa-solid fa-bell search" (click)="goToNotifications()"></i>
                <span class="notification-dot" *ngIf="hasUnreadNotification"></span>
              </div>
              <button class="navbar-toggler" type="button" (click)="menuOpen = !menuOpen">
                <i class="fas fa-bars"></i>
              </button>
            </div>

            <!-- Sidebar (Mobile) -->
            <div class="mobile-sidebar-overlay d-lg-none" [class.open]="menuOpen" (click)="closeMenu()"></div>
            <div class="mobile-sidebar d-lg-none" [class.open]="menuOpen" (click)="closeMenu()">
              <div id="gen-menu-contain" class="gen-menu-contain w-100">
                <ng-container *ngIf="isSignedIn">
                  <div class="gen-account-holder d-flex align-items-center justify-content-between px-3 py-3"
                    (click)="showUserDropdown = !showUserDropdown">
                    <div class="d-flex align-items-center">
                      <div class="me-3"><i class="fa fa-user user-icon"></i></div>
                      <div class="d-flex flex-column">
                        <span class="user-title">{{ username }}</span>
                        <a routerLink="/profile" class="myaccount">My Account</a>
                      </div>
                    </div>
                  </div>
                </ng-container>

                <ul id="gen-main-menu" class="navbar-nav">
                  <ng-container *ngIf="isSignedIn">
                    <li class="menu-item ml-3">
                      <a routerLink="/subscribe" class="gen-button py-0 text-center subscribe-btn">
                        <div class="gen-button-block">
                          <span class="gen-button-line-left"></span>
                          <span class="gen-button-text">Subscribe</span>
                        </div>
                      </a>
                    </li>
                  </ng-container>

                  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/">Home</a>
                  </li>
                  <li class="menu-item" routerLinkActive="active">
                    <a routerLink="/movies">Movies</a>
                  </li>
                  <li class="menu-item" routerLinkActive="active">
                    <a routerLink="/reels">Reels</a>
                  </li>
                  <li class="menu-item" routerLinkActive="active"
                    *ngIf="userData?.subscription_details?.subscription == 1">
                    <a routerLink="/subscription-details"> My Subscription</a>
                  </li>

                  <ng-container *ngIf="!isSignedIn">
                    <li class="nav-item">
                      <a routerLink="/signin" class="nav-link">Sign In</a>
                    </li>
                    <li class="menu-item ml-3">
                      <a routerLink="/subscribe" class="gen-button py-0 text-center subscribe-btn">
                        <div class="gen-button-block">
                          <span class="gen-button-line-left"></span>
                          <span class="gen-button-text">Subscribe</span>
                        </div>
                      </a>
                    </li>
                  </ng-container>

                  <ng-container *ngIf="isSignedIn">
                    <li class="nav-item">
                      <a routerLink="/watch-later" class="nav-link">
                        <i class="fa fa-clock mr-1"></i> Watch Later
                      </a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="/history" class="nav-link">
                        <i class="fa fa-history mr-1"></i> History
                      </a>
                    </li>
                    <li class="nav-item mt-3 border-top pt-2">
                      <a (click)="askToSignout()" class="nav-link">
                        <i class="fa fa-sign-out mr-1"></i> Sign Out
                      </a>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>

            <!-- Navbar (Desktop) -->
            <div class="navbar-collapse d-none d-xl-flex" id="navbarSupportedContent">
              <div id="gen-menu-contain" class="gen-menu-contain w-100 d-flex justify-content-end">
                <ul id="gen-main-menu" class="navbar-nav ml-auto">
                  <li class="menu-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/">Home</a>
                  </li>
                  <li class="menu-item" routerLinkActive="active">
                    <a routerLink="/movies">Movies</a>
                  </li>
                  <li class="menu-item" routerLinkActive="active">
                    <a routerLink="/reels">Reels</a>
                  </li>
                  <li class="menu-item" routerLinkActive="active">
                    <a routerLink="/movies" [queryParams]="{ search: 1 }">
                      <i class="fa-solid fa-magnifying-glass search"></i>
                    </a>
                  </li>

                  <ng-container *ngIf="!isSignedIn">
                    <li class="menu-item ml-3">
                      <a routerLink="/signin">Sign In</a>
                    </li>
                    <li class="menu-item ml-3">
                      <a routerLink="/subscribe" class="gen-button">
                        <div class="gen-button-block">
                          <span class="gen-button-line-left"></span>
                          <span class="gen-button-text">Subscribe</span>
                        </div>
                      </a>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>

            <!-- User Info (Desktop) -->
            <div *ngIf="isSignedIn" class="gen-header-info-box d-none d-lg-flex align-items-center ml-auto">
              <div class="gen-account-holder" (mouseleave)="closeMenu()">
                <a href="javascript:void(0)" id="gen-user-btn" (click)="showUserDropdown = !showUserDropdown">
                  <i class="fa fa-user p-1 user-icon"></i>
                  <span class="mx-1 p-2 user-title">{{ username }}</span>
                  <i class="fa-solid fa-caret-down"></i>
                </a>
                <div class="gen-account-menu" [class.gen-form-show]="showUserDropdown">
                  <ul class="col-12">
                    <li><a routerLink="/profile"><i class="fa fa-user"></i> Profile</a></li>
                    <li *ngIf="userData?.subscription_details?.subscription==1">
                      <a routerLink="/subscription-details">
                        <i class="fa-solid fa-star"></i> My Subscription
                      </a>
                    </li>
                    <li><a routerLink="/watch-later"><i class="fa fa-clock"></i> Watch Later</a></li>
                    <li><a routerLink="/history"><i class="fa fa-history"></i> History</a></li>
                    <li><a (click)="askToSignout()"><i class="fa fa-sign-out mr-1"></i> Sign Out</a></li>
                  </ul>
                </div>
              </div>

              <!--  Bell icon (Desktop) -->
              <div class="notification-icon mx-4 position-relative d-none d-lg-block">
                <i class="fa-solid fa-bell search" (click)="goToNotifications()"></i>
                <span class="notification-dot" *ngIf="hasUnreadNotification"></span>
              </div>

              <div class="gen-btn-container ml-3">
                <a routerLink="/subscribe" class="gen-button">
                  <div class="gen-button-block">
                    <span class="gen-button-line-left"></span>
                    <span class="gen-button-text">Subscribe</span>
                  </div>
                </a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>