<section class="position-relative pb-0">
  <div class="gen-register-page-background" style="background-image: url('assets/images/background/asset-3.jpeg');"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-aligned">
          <form id="pms_register-form" class="pms-form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
             <!-- Logo -->
          <div class="text-center mb-3">
            <img src="assets/images/logo-collapsed.png" routerLink="/" alt="Logo" style="max-width: 60px;" />
          </div>
            <h4 class="text-start">Join now for unlimited entertainment</h4>
            <ul class="pms-form-fields-wrapper list-unstyled">

              <li class="pms-field pms-user-login-field">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName="username" placeholder="Enter username" />
                  <mat-error *ngIf="signUpForm.controls['username'].touched && signUpForm.controls['username'].invalid">
                    <Validation-Messages [control]="signUpForm.controls['username']"></Validation-Messages>
                  </mat-error>
                </mat-form-field>
              </li>

              <li class="pms-field pms-user-email-field">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" formControlName="email" placeholder="Enter email" />
                  <mat-error *ngIf="signUpForm.controls['email'].touched && signUpForm.controls['email'].invalid">
                    <Validation-Messages [control]="signUpForm.controls['email']"></Validation-Messages>
                  </mat-error>
                </mat-form-field>
              </li>

              <li class="pms-field pms-first-name-field">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>First Name</mat-label>
                  <input matInput formControlName="firstName" placeholder="Enter first name" />
                  <mat-error *ngIf="signUpForm.controls['firstName'].touched && signUpForm.controls['firstName'].invalid">
                    <Validation-Messages [control]="signUpForm.controls['firstName']"></Validation-Messages>
                  </mat-error>
                </mat-form-field>
              </li>

              <li class="pms-field pms-last-name-field">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Last Name</mat-label>
                  <input matInput formControlName="lastName" placeholder="Enter last name" />
                  <mat-error *ngIf="signUpForm.controls['lastName'].touched && signUpForm.controls['lastName'].invalid">
                    <Validation-Messages [control]="signUpForm.controls['lastName']"></Validation-Messages>
                  </mat-error>
                </mat-form-field>
              </li>

            <!-- Password -->
<li class="pms-field pms-pass1-field">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="hidePassword ? 'password' : 'text'"
      formControlName="password"
      placeholder="Enter password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hidePassword = !hidePassword"
      type="button"
    >
      <mat-icon class="small-eye-icon">{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="signUpForm.controls['password'].touched && signUpForm.controls['password'].invalid">
      <Validation-Messages [control]="signUpForm.controls['password']"></Validation-Messages>
    </mat-error>
  </mat-form-field>
</li>

<!-- Confirm Password  -->
<li class="pms-field pms-pass2-field">
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Confirm Password</mat-label>
    <input
      matInput
      [type]="hideConfirmPassword ? 'password' : 'text'"
      formControlName="confirmPassword"
      placeholder="Repeat password"
    />
    <button
      mat-icon-button
      matSuffix
      (click)="hideConfirmPassword = !hideConfirmPassword"
      type="button"
    >
      <mat-icon class="small-eye-icon">{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    <mat-error *ngIf="signUpForm.controls['confirmPassword'].touched && signUpForm.controls['confirmPassword'].invalid">
      <Validation-Messages [control]="signUpForm.controls['confirmPassword']"></Validation-Messages>
    </mat-error>
  </mat-form-field>
</li>

              <!-- Subscription Plans -->
              <!-- <li class="pms-field pms-field-subscriptions">
                <label class="mb-2 d-block">Choose a Plan</label>

                <div class="row">
                  <ng-container *ngFor="let plan of plans; let i = index">
                    <div class="col-md-6" [ngClass]="{ 'ps-md-0': i % 2 === 0, 'pe-md-0': i % 2 !== 0 }">
                      <mat-radio-group formControlName="subscriptionPlan" class="d-block w-100">
                        <mat-radio-button [value]="plan.subscriptionplan_id" class="d-block mb-3">
                          <div class="d-flex justify-content-between align-items-center">
                            <strong class="me-2">{{ plan.plan_name }}</strong>
                            <div>
                              <span class="text-white text-decoration-line-through me-2" *ngIf="plan.discount_price">
                                ₹{{ plan.price }}
                              </span>
                              <span class="text-danger fw-bold">₹{{ plan.discount_price || plan.price }}</span>
                            </div>
                          </div>
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </ng-container>
                </div>

                <mat-error *ngIf="signUpForm.controls['subscriptionPlan'].touched && signUpForm.controls['subscriptionPlan'].invalid">
                  <Validation-Messages [control]="signUpForm.controls['subscriptionPlan']"></Validation-Messages>
                </mat-error>
              </li> -->

            </ul>

            <div class="text-start mt-3">
              <button  type="submit" class="red-button">
                 Sign-up
              </button>


            </div>

   
            <!-- Sign In Link -->
            <div class="text-start mt-2">
              <span class="me-2">Already have an account?</span>
              <a (click)="navigateToSignIn()" class="signup-link red-link">Sign In</a>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</section>
