
<div class="content-container">
  <div class="header-row">
    <h2>{{ isEditMode ? 'Edit Movie/Show' : 'Add Movie/Show' }}</h2>
    <button class="back-to-list-button" [routerLink]="['/list-movie-show']">Back to List</button>
  </div>
  <mat-card appearance="outlined">
    <mat-card-content [formGroup]="movieForm" class="d-flex flex-wrap">

      <!-- Upload Video -->
      <div class="outer-wrapper">
        <div class="main-upload-container">
          <!-- Upload Card -->
          <div class="upload-card-wrapper">
            <mat-card appearance="outlined" class="h-100 position-relative">
              <mat-card-content>
                <label class="label">Upload Video</label>
                <div class="drag-drop-zone" (dragover)="onVideoDragOver($event)" (drop)="onVideoDrop($event)"
                  (click)="videoInput.click()">
                  <i class="fa-sharp fa-solid fa-arrow-up-from-bracket upload-icon"></i>
                  <p *ngIf="!videoName">Drag & drop a video here or click to select (MP4 only)</p>
                  <p *ngIf="videoName">Video Selected: {{ videoName }}</p>

                  <div *ngIf="uploadProgress > 0 && uploadProgress < 100" class="progress-container">
                    <div class="progress-bar" [style.width.%]="uploadProgress"></div>
                    <span class="progress-text">{{ uploadProgress }}%</span>
                  </div>
                  <div *ngIf="uploadProgress === 100" class="upload-success">✅ Upload complete!</div>
                </div>
                <input type="file" (change)="onVideoSelected($event)" accept="video/*" hidden #videoInput />
              </mat-card-content>
            </mat-card>
          </div>

          <!-- Video Preview -->
          <div *ngIf="movieForm.value['video']" class="preview-wrapper">
           <button class="trash-button-main" (click)="openDeleteConfirm('video')">
  <i class="fa-solid fa-trash"></i>
</button>
            <!-- {{uploadProgress}} -->
            <div class="video-preview-container">
              <video [src]="videoUrl+movieForm.value['video']" controls controlsList="nodownload"
                [ngClass]="{ 'vertical-video': isVerticalVideo, 'horizontal-video': !isVerticalVideo }"></video>
            </div>
          </div>
        </div>
      </div>




      <!-- Form Inputs -->
      <div class="form_container">

        <!-- Title -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Add title" formControlName="title" />
            <mat-error *ngIf="movieForm.controls['title'].touched && movieForm.controls['title'].invalid">
              <Validation-Messages [control]="movieForm.controls['title']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

<div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Genre</mat-label>
            <mat-select formControlName="genre">
              <mat-option value="1">Action</mat-option>
              <mat-option value="2">Drama</mat-option>
              <mat-option value="3">Comedy</mat-option>
            </mat-select>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['genre']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Description -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Add description" formControlName="description"></textarea>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['description']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Cast Details -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Cast Details</mat-label>
            <textarea matInput placeholder="Add Cast details" formControlName="cast_details"></textarea>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['cast_details']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Category -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              <mat-option value="1">Movie</mat-option>
              <mat-option value="2">Show</mat-option>
            </mat-select>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['category']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Release Date -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Release Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="release_date" placeholder="Choose a date"
              (click)="picker.open()" readonly />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['release_date']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Rating -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Rating</mat-label>
            <mat-select formControlName="age_rating">
              <mat-option value="1">18+</mat-option>
              <mat-option value="2">16+</mat-option>
            </mat-select>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['age_rating']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Access -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Access</mat-label>
            <mat-select formControlName="access">
              <mat-option value="1">Free</mat-option>
              <mat-option value="2">Premium</mat-option>
             
            </mat-select>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['access']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Status -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="1">Active</mat-option>
              <mat-option value="2">Inactive</mat-option>
            </mat-select>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['status']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Duration -->
        <!-- <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Duration</mat-label>
            <input matInput type="text" placeholder="e.g., 2h 30m or 150 mins" formControlName="duration" />
            <mat-error *ngIf="movieForm.controls['duration'].touched && movieForm.controls['duration'].invalid">
              <Validation-Messages [control]="movieForm.controls['duration']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>
 -->


      </div>

      <!-- Uploads -->
      <div class="uploads">

        <!-- Thumbnail -->
        <div class="upload-container">
          <mat-card appearance="outlined">
            <mat-card-content>
<label class="fw-medium d-block mb-2">
  Thumbnail 
  <small class="text-muted" *ngIf="!movieForm.value['thumbnail']">
    (Portrait – 300×450px, JPEG)
  </small>
</label>

              <button class="trash-button" *ngIf="movieForm.value['thumbnail']" (click)="openDeleteConfirm('thumbnail')">
  <i class="fa-solid fa-trash"></i>
</button>

              <div class="drag-drop-zone" [ngClass]="{'uploaded': movieForm.value['thumbnail']}"
                (dragover)="onDragOver($event)" (drop)="onDrop($event)"
                (click)="!thumbnailPreview && thumbnailInput.click()">

                <p *ngIf="!movieForm.value['thumbnail']">Drag & drop an image here or click to select</p>
                <div class="preview-container" *ngIf="movieForm.value['thumbnail']">
                  <img [src]="imgUrl+movieForm.value['thumbnail']" alt="Thumbnail Preview" class="media-preview"
                    (click)="$event.stopPropagation()" #thumbnailImg />
                  <button class="fullscreen-button" (click)="openFullscreen(thumbnailImg)">
                    <i class="fa-solid fa-expand"></i>
                  </button>
                </div>

              </div>
              <input type="file" (change)="onThumbnailSelected($event)" accept="image/jpeg" hidden #thumbnailInput />
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Trailer -->
        <div class="upload-container">
          <mat-card appearance="outlined">
            <mat-card-content>
              <label class="fw-medium d-block mb-2">Trailer</label>
              <button class="trash-button" *ngIf="movieForm.value['trailer']" (click)="openDeleteConfirm('trailer')">
  <i class="fa-solid fa-trash"></i>
</button>

              <div class="drag-drop-zone" [ngClass]="{'uploaded': movieForm.value['trailer']}"
                (dragover)="onTrailerDragOver($event)" (drop)="onTrailerDrop($event)"
                (click)="!movieForm.value['trailer'] && trailerInput.click()">
                <p *ngIf="!movieForm.value['trailer']">Drag & drop a trailer here or click to select (MP4 only)</p>
                <video *ngIf="movieForm.value['trailer']" [src]="videoUrl+movieForm.value['trailer']" controls
                  controlsList="nodownload" class="media-preview"></video>
     
              </div>

              <input type="file" (change)="onTrailerSelected($event)" accept="video/mp4" hidden #trailerInput />
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Banner -->
        <div class="upload-container">
          <mat-card appearance="outlined">
            <mat-card-content>
 <label class="fw-medium d-block mb-2">
  Banner 
  <small class="text-muted" *ngIf="!movieForm.value['banner']">
    (Landscape – 1200×400px, JPEG)
  </small>
</label>

              <button class="trash-button" *ngIf="movieForm.value['banner']" (click)="openDeleteConfirm('banner')">
  <i class="fa-solid fa-trash"></i>
</button>

              <div class="drag-drop-zone" [ngClass]="{ 'uploaded':movieForm.value['banner']}"
                (dragover)="onDragOver($event)" (drop)="!bannerPreview && onBannerDrop($event)"
                (click)="!bannerPreview && bannerInput.click()">
                <p *ngIf="!movieForm.value['banner']">Drag & drop an image here or click to select</p>

                <div class="preview-container" *ngIf="movieForm.value['banner']">
                  <img [src]="imgUrl+movieForm.value['banner']" alt="Banner Preview" class="media-preview"
                    (click)="$event.stopPropagation()" #bannerImg />
                  <button class="fullscreen-button" (click)="openFullscreen(bannerImg)">
                    <i class="fa-solid fa-expand"></i>
                  </button>
                </div>
              </div>

              <input type="file" (change)="onBannerSelected($event)" accept="image/jpeg" hidden #bannerInput />
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </mat-card-content>

    <mat-card-actions class="d-flex justify-content-end px-4 pb-2">
      <button class="save-button" (click)="submitMovie()">Save</button>
    </mat-card-actions>
  </mat-card>
  <!-- Delete Confirmation Modal -->
<div class="modal" [class.show]="confirmDeleteType">
  <div class="modal-content">
    <p>Are you sure you want to delete
      <span class="highlight">{{ confirmDeleteType | titlecase }}</span>?
    </p>
    <div class="modal-actions">
      <button class="btn-yes" (click)="confirmDelete()">Delete</button>
      <button class="btn-no" (click)="cancelDelete()">Cancel</button>
    </div>
  </div>
</div>

</div>