<!-- Breadcrumb -->
<div class="gen-breadcrumb" style="background-image: url('assets/images/background/movie_banner.jpg')">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <nav aria-label="breadcrumb">
          <div class="gen-breadcrumb-title">
            <h1>Watch History</h1>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Clear All Button -->
<section class="search-section pb-2">
  <div class="col-12 d-flex justify-content-end mr-2 mt-0 mb-4">
    <button *ngIf="historyList.length" class="btn btn-danger btn-sm me-3" (click)="askToClearAll()">
      Clear All
    </button>
  </div>

  <!-- Movie Grid -->
  <div class="col-12 d-flex flex-column">
    @if(historyList.length){
    <div class="d-flex flex-wrap col-12 movie-class">
    <div *ngFor="let item of historyList; index as i" class="col-xl-3 col-lg-4 col-md-6 px-2 mb-4">
  <div class="gen-carousel-movies-style-3 movie-grid style-3 h-100">
    <div class="gen-movie-contain h-100 d-flex flex-column">
      <div class="gen-movie-img position-relative">
        <img [src]="imageUrl + item.thumbnail" alt="{{ item.title }} thumbnail" />
        <div class="gen-movie-action">
          <a [routerLink]="['/movies', item.mov_id]" [queryParams]="{ ap: 1 }" class="gen-button playBut">
            <i class="fa fa-play"></i>
          </a>
        </div>
        <div class="position-absolute bottom-0 start-0 w-100 px-2 py-1 bg-black bg-opacity-75 text-white small">
Watched on: <strong>{{ item.created_on | date: 'dd MM yyyy' }}</strong>
        </div>
      </div>
      <div class="gen-info-contain">
        <div class="gen-movie-info d-flex justify-content-between align-items-center">
          <h3 class="mb-0">
            <a [routerLink]="['/movies', item.mov_id]" [queryParams]="{ ap: 1 }" class="text-white">
              {{ item.title }}
            </a>
          </h3>
          <button class="btn btn-sm btn-outline-light" (click)="askToRemoveItem(item, i)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

    </div>

    <!-- Infinite Scroll -->
    <div *ngIf="!stopInfiniteScroll" infiniteScroll (scrolled)="onScroll()" style="height: 1px"></div>

    }@else{
    <div class="text-center text-secondary mt-5">
      <i class="fas fa-history fa-3x mb-3"></i>
      <p class="lead">No watch history available.</p>
    </div>
    }
  </div>
</section>
