<!-- footer start -->
<footer id="gen-footer">
  <div class="gen-footer-style-1">
    <div class="gen-footer-top p-3 px-md-2 p-xl-4">
      <div class="container">
        <div class="row">
          <!-- Explore Column -->
          <div class="col-md-3 col-6">
            <div class="widget">
              <h4 class="footer-title">Explore</h4>
              <div class="menu-explore-container">
                <ul class="menu">
                  <li class="menu-item">
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/movies" routerLinkActive="active">Movies</a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/reels" routerLinkActive="active">Reels</a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/watch-later" routerLinkActive="active">Watch Later</a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/history" routerLinkActive="active">Watch History</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Legal Column -->
          <div class="col-md-3 col-6">
            <div class="widget">
              <h4 class="footer-title">Legal</h4>
              <div class="menu-about-container">
                <ul class="menu">
                  <li class="menu-item">
                    <a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/terms-of-use" routerLinkActive="active">Terms Of Use</a>
                  </li>
                  <li class="menu-item">
                    <a routerLink="/subscribe" routerLinkActive="active">Subscribe</a>
                  </li>
                   <li class="menu-item">
                    <a routerLink="/help-center" routerLinkActive="active">Help Center</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- App Download Column -->
          <div class="col-md-6 col-12">
            <div class="widget mb-1">
              <h4 class="footer-title">Download App</h4>
              <p class="text-justify">
                Get the Cukkuboo App<br />
                Experience seamless streaming on the go. Download our app on the Google Play Store and Apple App Store
                to watch, upload, and share your favorite videos anytime, anywhere.
              </p>
              <div class="d-flex flex-wrap gap-3">
                <a href="https://play.google.com/store/games?hl=en_IN" target="_blank">
                  <div class="store-logo">
                    <img src="assets/images/playstore.png" alt="playstore" />
                  </div>
                </a>
                <a href="https://apps.apple.com/us/story/id1302444839" target="_blank">
                  <div class="store-logo">
                    <img src="assets/images/appstore.png" alt="appstore" />
                  </div>
                </a>
              </div>

              <!-- Social Icons -->
              <div class="social-link d-flex gap-3 mt-3 ps-3">
                <a href="https://www.facebook.com/" target="_blank" class="facebook">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="instagram">
                  <i class="fab fa-instagram"></i>
                </a>
              </div>
            </div>
          </div>
        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .gen-footer-top -->

    <!-- Footer Bottom -->
    <div class="gen-copyright-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12 align-self-center">
            <span class="gen-copyright">
              <a target="_blank" href="#">© 2025 Cukkuboo. All rights reserved.</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Back-to-Top start -->
  <div id="back-to-top" (click)="scrollTo()">
    <a class="top" id="top"> <i class="ion-ios-arrow-up"></i> </a>
  </div>
  <!-- Back-to-Top end -->
</footer>
<!-- footer End -->
