:host {
  margin-top: auto;

  .footer {
    padding: 10px 0;
    text-align: center;
    width: 100%;

    i {
      font-size: 10px;
    }
  }
}

.store-logo {
  width: 100%;
  height: 100%;
  max-width: 120px;
  overflow: hidden;

  img {
    transform: scale(2);
  }
}

.playstore-logo {
  transform: scale(1.4);
}


.appstore-logo {
  transform: scale(0.95);
}

footer#gen-footer .gen-footer-style-1 .widget ul.menu li{
  display: inline !important;
}

.social-link a{
  font-size: 18px;
  color: var(--white-color);
}

#gen-footer .gen-footer-style-1 .widget:first-child {
    margin-bottom: 20px;
}

footer#gen-footer[_ngcontent-ng-c3844748969] .gen-footer-top[_ngcontent-ng-c3844748969] {
    padding: 17px 0 0;
}
ul.menu,
ul.menu li {
  list-style: none !important;
}
