<div class="content-container">
    <div class="header-row">
      <h2>Staff List</h2>
      <button mat-raised-button class="add-button" [routerLink]="['add-staff']">
        + New
      </button>
    </div>

      <!-- Search Bar -->
  <div class="width-50    search-bar-wrapper">
    <mat-form-field class="custom-search" appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        placeholder="Search"
        (keyup)="applyGlobalFilter($event)"
      />
    </mat-form-field>
  </div>

  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 custom-table">

        <ng-container matColumnDef="slNo">
  <th mat-header-cell *matHeaderCellDef> Sl. No. </th>
  <td mat-cell *matCellDef="let row; let i = index"> {{ i + 1 }} </td>
</ng-container>
      
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let staff"> {{ staff.name }} </td>
      </ng-container>
  
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let staff"> {{ staff.role }} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let staff"> {{ staff.email }} </td>
      </ng-container>
  
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let staff"> {{ staff.phone }} </td>
      </ng-container>
  
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let staff">
          <span
            [ngClass]="{
              'badge': true,
              'badge-enabled': staff.status === 'active',
              'badge-disabled': staff.status === 'inactive'
            }"
          >
            {{ staff.status }}
          </span>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="joiningDate">
        <th mat-header-cell *matHeaderCellDef> Joining Date </th>
        <td mat-cell *matCellDef="let staff"> {{ staff.joiningDate | date: 'mediumDate' }} </td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let staff">
          <mat-icon class="icon" [routerLink]="['edit-staff', staff.id]">edit</mat-icon>
          <mat-icon class="icon" (click)="deleteStaff(staff)">delete</mat-icon>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <div class="no-data" *ngIf="dataSource.data.length === 0">
      No Staff found.
    </div>
  
 <div class="pagination-wrapper">
  <mat-paginator
    class="pagination"
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons
  ></mat-paginator>
</div>  </div>
  