@if(movieData){
<!-- Banner Section -->
<section class="p-0 gen-banner-movies single">
  <div class="item p-5 position-relative" [ngStyle]="{ 'background-image': 'url(' +imageUrl+ movieData.banner + ')' }">
    <div class="position-relative d-flex align-items-center h-100">

      <!-- Movie Info & Play Button -->
      <div class="col-12 col-xl-8">
        <div class="gen-movie-info">
          <h3>{{ movieData.title }}</h3>
        </div>

        <div class="gen-movie-action d-flex mt-4">
          <div class="gen-btn-container" (click)="playVideo(movieData)">
            <!-- <a class="playBut popup-youtube popup-vimeo popup-gmaps" (click)="movieData.playTrailer = true">
              <svg xmlns="http://www.w3.org/2000/svg" width="80px" height="80px" viewBox="0 0 213.7 213.7">
                <polygon class="triangle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" points="73.5,62.5 148.5,105.8 73.5,149.1">
                </polygon>
                <circle class="circle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"></circle>
              </svg> -->
            <!-- <span class="text">Play Now</span> -->

            <!-- </a> -->
            <!-- <a (click)="playVideo(movieData)" class="gen-button gen-button-dark"> -->
            <a class="playBut popup-youtube popup-vimeo popup-gmaps" (click)="movieData.playTrailer = true">
              <!-- <i class="fas fa-play"></i> -->
              <svg xmlns="http://www.w3.org/2000/svg" width="60px" height="70px" viewBox="0 0 213.7 213.7">
                <polygon class="triangle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" points="73.5,62.5 148.5,105.8 73.5,149.1">
                </polygon>
                <circle class="circle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"
                  stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"></circle>
              </svg>
              <span class="text p-1">Play Now</span>
            </a>
          </div>
          <div class="ms-3 gen-btn-container d-block d-xl-none" (click)="movieData.playTrailer = true">
            <a class="gen-button gen-button-outline">
              <i class="fas fa-play"></i><span class="text">Watch Trailer</span>
            </a>
          </div>
        </div>
      </div>

      <!-- Thumbnail & Trailer Button -->
      <div class="col-xl-4 d-none d-xl-flex">
        <div class="gen-front-image mx-auto">
          <img [src]="imageUrl+movieData.thumbnail" alt="carousel-image" />
          <a class="playBut popup-youtube popup-vimeo popup-gmaps" (click)="movieData.playTrailer = true">
            <svg xmlns="http://www.w3.org/2000/svg" width="213.7px" height="213.7px" viewBox="0 0 213.7 213.7">
              <polygon class="triangle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"
                stroke-miterlimit="10" points="73.5,62.5 148.5,105.8 73.5,149.1">
              </polygon>
              <circle class="circle" fill="none" stroke-width="7" stroke-linecap="round" stroke-linejoin="round"
                stroke-miterlimit="10" cx="106.8" cy="106.8" r="103.3"></circle>
            </svg>
            <span>Watch Trailer</span>
          </a>

        </div>
      </div>

    </div>
    <video-palyer *ngIf="movieData.playTrailer" class="video_player" (onClose)="movieData.playTrailer = false"
      [videoSrc]="videoUrl+movieData.trailer">
    </video-palyer>
    <!--  Video -->
    <video-palyer *ngIf="movieData.playVideo" class="video_player" (onClose)="movieData.playVideo = false"
      [videoSrc]="videoUrl+movieData.video">
    </video-palyer>
  </div>
</section>

<!-- Movie Details -->
<section class="py-0 px-5 gen-single-movie">
  <div class="gen-single-movie-wrapper style-1">
    <div class="gen-single-movie-info">
      <h2 class="gen-title">{{ movieData.title }}</h2>
      <div class="gen-single-meta-holder">
        <ul>
          <li class="gen-sen-rating">
            {{ movieData.age_rating === '2' ? '16+' : '18+' }}
          </li>
          <li>
            <i class="fas fa-eye"></i>
            <span>{{ movieData.views || 0 }} Views</span>
          </li>
        </ul>
      </div>



      <!-- Description -->
      <p>{{ movieData.description }}</p>

      <!-- Cast, Duration, Release -->
      <div class="gen-after-excerpt">
        <div class="gen-extra-data">
          <ul>
            <li><span>Cast and crew:</span> <span>{{ movieData.cast_details }}</span></li>
            <li><span>Duration:</span> <span>{{ movieData.duration }}</span></li>
            <li><span>Released on:</span> <span>{{ movieData.release_date | date:'dd/MM/yyyy' }}</span></li>
          </ul>
        </div>

        <!-- Social -->
        <div class="gen-socail-share">
          <!-- <h4>Social Share:</h4> -->
          <ul class="social-inner">
            <li><a href="https://www.facebook.com/" class="facebook" target="_blank"><i
                  class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://www.instagram.com/" class="instagram" target="_blank"><i
                  class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Suggested movies -->
<section class="py-3 px-5">
  <div class="gen-more-like">
    <h5 class="gen-more-title mb-3">More Like This</h5>
    @if(suggetionList.length){
    <div class="row col-12 mb-3">
      <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let movie of suggetionList">
        <div class="gen-carousel-movies-style-3 movie-grid h-100 style-3" [routerLink]="['/movies', movie.mov_id]">
          <div class="gen-movie-contain h-100 d-flex flex-column">
            <div class="gen-movie-img">
              <img [src]="imageUrl+movie.thumbnail" alt="{{ movie.title }} thumbnail" />
              <div class="gen-movie-action">
                <a class="gen-button">
                  <i class="fa fa-play"></i>
                </a>
              </div>
            </div>
            <div class="gen-info-contain">
              <div class="gen-movie-info">
                <h3><a>{{ movie.title }}</a></h3>
              </div>
              <div class="gen-movie-meta-holder">
                <ul>
                  <li>{{ movie.duration }}</li>
                  <!-- <li>
                    <a><span>{{ movie.genres[0] }}</span></a>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    }@else {
    <p class="py-3"> No related movies................</p>
    }
  </div>
  <div *ngIf="!stopInfiniteScroll" infiniteScroll (scrolled)="onScroll($event)" style="height: 1px;"></div>
</section>

}