.category-container {
  background-color: #121212;
  color: #fff;

 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 32px 16px;
  box-sizing: border-box;
}



mat-card {
  background-color: #1e1e1e;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(255, 23, 68, 0.2);
  margin-bottom: 20px;
}

.table-card {
  max-height: none;
}

mat-select,
textarea,
input {
 
  border-radius: 4px;
}
 


/* Ensure all form fields are the same width */
.form-section {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  
}
.form-card{
  padding-top: 15px;
  padding-bottom: 15px;
}
.left-side,
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}



.right-side {
  align-items: flex-end;
  justify-content: flex-start;
}



.button-wrapper {
  width: 50%;
  padding: 0 10px 20px;
  display: flex;
  justify-content: flex-end;
}

.add-button {
  background-color: #7d2725!important;
  color: white!important;
  border-radius: 24px;
  height: 36px;
  font-size: 14px;
  font-weight: 500;
  padding: 0 16px;
  box-shadow: 0 2px 6px rgba(255, 23, 68, 0.4);
  border: none;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
}
.add-button:hover {
  background-color: #ff1744;
}

/* Table */
.custom-table {
  width: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 8px;
}

.custom-table th,
.custom-table td {
  color: #fff;
  border-bottom: 1px solid #444;
  padding: 12px;
}

.custom-table th {
  background-color: #111;
  font-weight: bold;
}

.custom-table tr:hover {
  background-color: #222;
}

.custom-table button.mat-icon-button {
  color: #ff1744;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: white;
  border-color: #ff1744;
}

// .mat-form-field-label,
// .mat-hint,
// input::placeholder {
//   color: #aaa !important;
// }

// input.mat-input-element {
//   color: white;
// }

.icon {
  color: white;
}

.icon:hover {
  color: #ff1744;
}

.custom-table th.mat-header-cell {
  background-color: #333;
  color: white;
}

.custom-table td.mat-cell {
  background-color: #444;
  color: white;
}

.table-card {
  background-color: #222;
  color: white;
}

.badge {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  display: inline-block;
  min-width: 80px;
  text-align: center;
  color: white;
}

.badge-enabled {
  background-color: #4caf50;
  color: #fff;
}

.badge-disabled {
  background-color: #7d2725;
  color: #fff;
}

