
  <div class="card">
    <div class="status-header">
      <h2>Payment Successful!</h2>
      <img class="success-img" src="assets/images/success.png" alt="Success">
    </div>
    <div class="status-message d-flex flex-column align-items-center">
      <h1>Success</h1>
      <p>Thank you for your purchase. Your subscription is now active.<br>
        Enjoy streaming premium content without interruptions!</p>
        <a class="mt-3" routerLink="/subscription-details">Go back</a>
    </div>
  </div>


