<!-- Breadcrumb -->
<div class="gen-breadcrumb" style="background-image: url('assets/images/background/movie_banner.jpg')">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-12">
        <nav aria-label="breadcrumb">
          <div class="gen-breadcrumb-title">
            <h1>Watch Later</h1>
          </div>
          <div class="gen-breadcrumb-container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/"><i class="fas fa-home mr-2"></i>Home</a>
              </li>
              <li class="breadcrumb-item active">Watch Later</li>
            </ol>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Watch Later Section -->
<section class="search-section pb-2">
  <div class="col-12 d-flex justify-content-end mr-2" *ngIf="watchLaterList.length">
    <button class="btn btn-danger btn-sm" (click)="openClearAllModal()">Clear All</button>
  </div>

  <div class="col-12 d-flex flex-column">
    @if(watchLaterList.length){
    <div class="d-flex flex-wrap col-12 movie-class">
      <div *ngFor="let movie of watchLaterList; let i = index" class="col-xl-3 col-lg-4 col-md-6 px-2 mb-4">
        <div class="gen-carousel-movies-style-3 movie-grid style-3 h-100">
          <div class="gen-movie-contain h-100 d-flex flex-column">
            <div class="gen-movie-img">
              <img [src]="imageUrl + movie.thumbnail" alt="{{ movie.title }} thumbnail" />
              <div class="gen-movie-add">
                <div class="wpulike wpulike-heart">
                  <div class="wp_ulike_general_class wp_ulike_is_not_liked">
                    <button type="button" class="wp_ulike_btn wp_ulike_put_image"></button>
                  </div>
                </div>
                <ul class="menu bottomRight">
                  <li class="share top">
                    <i class="fa fa-share-alt"></i>
                    <ul class="submenu">
                      <li><a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="#" class="facebook"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="#" class="facebook"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                  </li>
                </ul>
                <button class="btn btn-sm btn-outline-light position-absolute top-0 end-0 m-2"
                        (click)="openDeleteModal(movie, i)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
              <div class="gen-movie-action">
                <a [routerLink]="['/movies', movie.mov_id]" [queryParams]="{ ap: 1 }"
                   class="gen-button playBut">
                  <i class="fa fa-play"></i>
                </a>
              </div>
            </div>
            <div class="gen-info-contain">
              <div class="gen-movie-info">
                <h3><a>{{ movie.title }}</a></h3>
              </div>
              <div class="gen-movie-meta-holder">
                <ul>
                  <li>{{ movie.duration || '0m 0s' }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="totalItems > pageSize" class="mt-4 text-center">
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="pageIndex === 0">
            <button class="page-link" (click)="onPageChange(pageIndex - 1)">Previous</button>
          </li>
          <li class="page-item"
              *ngFor="let page of [].constructor(Math.ceil(totalItems / pageSize)); let i = index"
              [class.active]="i === pageIndex">
            <button class="page-link" (click)="onPageChange(i)">{{ i + 1 }}</button>
          </li>
          <li class="page-item" [class.disabled]="(pageIndex + 1) >= Math.ceil(totalItems / pageSize)">
            <button class="page-link" (click)="onPageChange(pageIndex + 1)">Next</button>
          </li>
        </ul>
      </nav>
    </div>
    }@else{
    <div class="text-center text-secondary mt-5">
      <i class="fas fa-clock fa-3x mb-3"></i>
      <p class="lead">No items in Watch Later list.</p>
    </div>
    }
  </div>
</section>

<!-- Delete Confirmation Modal -->
<div class="modal" [class.show]="showDeleteModal">
  <div class="modal-content">
    <p>
      Are you sure you want to remove
      <span class="highlight">"{{ itemToDelete?.title }}"</span> from Watch Later?
    </p>
    <div class="modal-actions">
      <button class="btn-yes" (click)="confirmDelete()">Delete</button>
      <button class="btn-no" (click)="cancelDelete()">Cancel</button>
    </div>
  </div>
</div>

<!-- Clear All Confirmation Modal -->
<div class="modal" [class.show]="showClearAllModal">
  <div class="modal-content">
    <p>Are you sure you want to <span class="highlight">clear all</span> items from Watch Later?</p>
    <div class="modal-actions">
      <button class="btn-yes" (click)="confirmClearAll()">Clear</button>
      <button class="btn-no" (click)="cancelClearAll()">Cancel</button>
    </div>
  </div>
</div>
