<section class="container bootstrap p-2">
    <div class="row">

        <!-- Right Column: User Info -->
        <div class="col-md-4 p-3">
            <div class="card mb-3 ca-body">
                <div class="card-body text-center p-3"> <!-- reduce padding -->
                    <i class="fa-solid fa-user icon-style mb-2"></i>

                    <!-- Username -->
                    <h5 class="card-title mb-1">{{ profileForm.get('username')?.value }}</h5>

                    <!-- Subscription Display -->
                    <div *ngIf="profileForm.get('subscription')?.value"
                        class="d-flex justify-content-center align-items-center mb-2">
                        <!-- Premium -->
                        <ng-container
                            *ngIf="profileForm.get('subscription')?.value.toLowerCase() === 'premium'; else showText">
                            <i class="fa-solid fa-star text-warning me-2"></i>
                            <span class="fw-bold">Premium</span>
                        </ng-container>

                        <!-- Other plans -->
                        <ng-template #showText>
                            <span class="plan">
                                {{ profileForm.get('subscription')?.value | titlecase }}
                            </span>
                        </ng-template>
                    </div>

                    <!-- Change Password Button -->
                    <button class="btn update-btn text-white btn-sm" (click)="toggleChangePassword()">
                        Change Password
                    </button>
                </div>
            </div>

        </div>



        <div class="col-md-8 p-3">

            <!-- Profile Info Section -->
            <div *ngIf="showProfileInfo" class="card shadow-sm rounded-3 ca-body">
                <div class="card-header text-white">
                    <h5 class="mb-0 personal">Personal Info</h5>
                    <hr class="p-2" style="color:#c70d47;">
                </div>
                <div class="card-body ca-body">
                    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profileForm">

                        <!-- Name -->
                        <div class="form-group row align-items-center mb-3">
                            <label class="col-sm-3 col-form-label">Name:</label>
                            <div class="col-sm-9 position-relative">
                                <input class="form-control" type="text" formControlName="username" />
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="form-group row align-items-center mb-3">
                            <label class="col-sm-3 col-form-label">Email Address:</label>
                            <div class="col-sm-9 position-relative">
                                <input class="form-control" type="text" formControlName="email" />
                            </div>
                        </div>

                        <!-- Contact -->
                        <div class="form-group row align-items-center mb-3">
                            <label class="col-sm-3 col-form-label">Contact:</label>
                            <div class="col-sm-9 position-relative d-flex flex-column">
                                <!-- Country code select -->
                                <div class="d-flex mb-1">
                                    <select class="form-select me-2 country-code" formControlName="country_code">
                                        <option value="+91">+91</option>
                                        <option value="+1">+1</option>
                                        <option value="+44">+44</option>
                                        <option value="+61">+61</option>
                                    </select>
                                    <!-- Phone number input -->
                                    <input class="form-control" type="text" formControlName="phone" maxlength="15"
                                        placeholder="Enter phone number" (keypress)="allowOnlyDigits($event)" />
                                </div>

                                <!-- Validation message -->
                                <!-- <div class="text-danger mt-1"
                                    *ngIf="profileForm.get('phone')?.invalid && profileForm.get('phone')?.touched">
                                    Please enter a valid phone number (only digits, max 15).
                                </div> -->
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="text-end">
                            <button type="submit" class="btn update-btn"
                                [disabled]="!isFormChanged() || profileForm.invalid">
                                Update Details
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Change Password Section -->
            <div *ngIf="!showProfileInfo" class="card shadow-sm rounded-3 ca-body">
                <div class="card-header text-white">
                    <h5 class="mb-0">Change Password</h5>
                    <hr class="p-2" style="color:#c70d47;">
                </div>
                <div class="card-body">
                    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">

                        <!-- Current Password -->
                        <mat-form-field appearance="outline" class="w-100 field-space">
                            <mat-label>Current Password</mat-label>
                            <input matInput [type]="hideCurrent ? 'password' : 'text'" formControlName="currentPassword"
                                placeholder="Enter your current password" id="currentPassword" />
                            <button mat-icon-button matSuffix (click)="hideCurrent = !hideCurrent" type="button"
                                [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="hideCurrent">
                                <mat-icon class="small-eye-icon">{{ hideCurrent ? 'visibility_off' : 'visibility'
                                    }}</mat-icon>
                            </button>
                            <mat-error>
                                <Validation-Messages
                                    [control]="changePasswordForm.controls['currentPassword']"></Validation-Messages>
                            </mat-error>
                        </mat-form-field>

                        <!-- New Password -->
                        <mat-form-field appearance="outline" class="w-100 field-space">
                            <mat-label>New Password</mat-label>
                            <input matInput [type]="hideNew ? 'password' : 'text'" formControlName="newPassword"
                                placeholder="Enter your new password" id="newPassword" />
                            <button mat-icon-button matSuffix (click)="hideNew = !hideNew" type="button"
                                [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="hideNew">
                                <mat-icon class="small-eye-icon">{{ hideNew ? 'visibility_off' : 'visibility'
                                    }}</mat-icon>
                            </button>
                            <mat-error>
                                <Validation-Messages
                                    [control]="changePasswordForm.controls['newPassword']"></Validation-Messages>
                            </mat-error>
                        </mat-form-field>

                        <!-- Confirm Password -->
                        <mat-form-field appearance="outline" class="w-100 field-space">
                            <mat-label>Confirm Password</mat-label>
                            <input matInput [type]="hideConfirm ? 'password' : 'text'" formControlName="confirmPassword"
                                placeholder="Enter your Confirm password" id="confirmPassword" />
                            <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" type="button"
                                [attr.aria-label]="'Toggle password visibility'" [attr.aria-pressed]="hideConfirm">
                                <mat-icon class="small-eye-icon">{{ hideConfirm ? 'visibility_off' : 'visibility'
                                    }}</mat-icon>
                            </button>
                            <mat-error>
                                <Validation-Messages
                                    [control]="changePasswordForm.controls['confirmPassword']"></Validation-Messages>
                            </mat-error>
                        </mat-form-field>

                        <div class="text-end">
                            <button type="submit" class="btn update-btn mt-2">Update Password</button>
                            <button type="button" class="btn btn-secondary ms-2 mt-2"
                                (click)="backToProfile()">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </div>
</section>
<hr />