<div class="content-container">
  <div class="header-row">
    <h2>{{ isEditMode ? 'Edit Movie/Show' : 'Add Movie/Show' }}</h2>
    <button class="back-to-list-button" [routerLink]="['/list-movie-show']">Back to List</button>
  </div>
  <mat-card appearance="outlined">
    <mat-card-content [formGroup]="movieForm" class="d-flex flex-wrap">

      <!-- Upload Video -->
      <div class="outer-wrapper">
        <div class="main-upload-container">
          <!-- Upload Card -->
          <div class="upload-card-wrapper">
            <mat-card appearance="outlined" class="h-100 position-relative">
              <mat-card-content>
                <label class="label">Upload Video</label>
                <div class="drag-drop-zone" (dragover)="onVideoDragOver($event)" (drop)="onVideoDrop($event)"
                  (click)="videoInput.click()">
                  <i class="fa-sharp fa-solid fa-arrow-up-from-bracket upload-icon"></i>
                  <p *ngIf="!videoName">Drag & drop a video here or click to select (MP4 only)</p>
                  <p *ngIf="videoName">Video Selected: {{ videoName }}</p>

                  <div *ngIf="uploadProgress > 0 && uploadProgress < 100" class="progress-container">
                    <div class="progress-bar" [style.width.%]="uploadProgress"></div>
                    <span class="progress-text">{{ uploadProgress }}%</span>
                  </div>
                  <div *ngIf="uploadProgress === 100" class="upload-success">✅ Upload complete!</div>
                </div>
                <input type="file" (change)="onVideoSelected($event)" accept="video/*" hidden #videoInput />
              </mat-card-content>
            </mat-card>
          </div>

          <!-- Video Preview -->
          <div *ngIf="uploadProgress === 100 && videoURL" class="preview-wrapper">
            <button class="trash-button-main" (click)="removeMainVideo()">
              <i class="fa-solid fa-trash"></i>
            </button>

            <div class="video-preview-container">
              <video [src]="videoURL" controls controlsList="nodownload"
                [ngClass]="{ 'vertical-video': isVerticalVideo, 'horizontal-video': !isVerticalVideo }"></video>
            </div>
          </div>
        </div>
      </div>


      <!-- Form Inputs -->
      <div class="form_container">

        <!-- Title -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Add title" formControlName="title" />
            <mat-error *ngIf="movieForm.controls['title'].touched && movieForm.controls['title'].invalid">
              <Validation-Messages [control]="movieForm.controls['title']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Genre -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Genre</mat-label>
            <mat-select formControlName="genre">
              <mat-option value="action">Action</mat-option>
              <mat-option value="drama">Drama</mat-option>
              <mat-option value="comedy">Comedy</mat-option>
            </mat-select>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['genre']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Description -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Add description" formControlName="description"></textarea>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['description']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Cast Details -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Cast Details</mat-label>
            <textarea matInput placeholder="Add Cast details" formControlName="cast"></textarea>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['cast']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Category -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              <mat-option value="movie">Movie</mat-option>
              <mat-option value="show">Show</mat-option>
            </mat-select>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['category']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Release Date -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Release Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="releaseDate" placeholder="Choose a date"
              (click)="picker.open()" readonly />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['releaseDate']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Rating -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Rating</mat-label>
            <mat-select formControlName="rating">
              <mat-option value="18+">18+</mat-option>
              <mat-option value="16+">16+</mat-option>
            </mat-select>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['rating']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Access -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Access</mat-label>
            <mat-select formControlName="access">
              <mat-option value="free">Free</mat-option>
              <mat-option value="standard">Standard</mat-option>
              <mat-option value="premium">Premium</mat-option>
            </mat-select>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['access']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>

        <!-- Status -->
        <div class="width-50 px-2 pb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option value="active">Active</mat-option>
              <mat-option value="inactive">Inactive</mat-option>
            </mat-select>
            <mat-error>
              <Validation-Messages [control]="movieForm.controls['status']"></Validation-Messages>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Uploads -->
      <div class="uploads">

        <!-- Thumbnail -->
        <div class="upload-container">
          <mat-card appearance="outlined">
            <mat-card-content>
              <label class="fw-medium d-block mb-2">Thumbnail</label>
              <button class="trash-button" *ngIf="thumbnailPreview" (click)="removeThumbnail()">
                <i class="fa-solid fa-trash"></i>
              </button>

              <div class="drag-drop-zone" [ngClass]="{'uploaded': thumbnailPreview}" (dragover)="onDragOver($event)"
                (drop)="onDrop($event)" (click)="!thumbnailPreview && thumbnailInput.click()">

                <p *ngIf="!thumbnailPreview">Drag & drop an image here or click to select</p>
                <div class="preview-container" *ngIf="thumbnailPreview">
                  <img [src]="thumbnailPreview" alt="Thumbnail Preview" class="media-preview"
                    (click)="$event.stopPropagation()" #thumbnailImg />
                  <button class="fullscreen-button" (click)="openFullscreen(thumbnailImg)">
                    <i class="fa-solid fa-expand"></i>
                  </button>
                </div>

              </div>
              <input type="file" (change)="onThumbnailSelected($event)" accept="image/jpeg" hidden #thumbnailInput />
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Trailer -->
        <div class="upload-container">
          <mat-card appearance="outlined">
            <mat-card-content>

              <label class="fw-medium d-block mb-2">Trailer</label>
              <button class="trash-button" *ngIf="trailerURL" (click)="removeTrailer($event)">
                <i class="fa-solid fa-trash"></i>
              </button>

              <div class="drag-drop-zone" [ngClass]="{'uploaded': trailerName}" (dragover)="onTrailerDragOver($event)"
                (drop)="onTrailerDrop($event)" (click)="!trailerName && trailerInput.click()">
                <p *ngIf="!trailerName">Drag & drop a trailer here or click to select (MP4 only)</p>
                <video *ngIf="trailerURL" [src]="trailerURL" controls controlsList="nodownload"
                  class="media-preview"></video>
              </div>

              <input type="file" (change)="onTrailerSelected($event)" accept="video/mp4" hidden #trailerInput />
            </mat-card-content>
          </mat-card>
        </div>

        <!-- Banner -->
        <div class="upload-container">
          <mat-card appearance="outlined">
            <mat-card-content>
              <label class="fw-medium d-block mb-2">Banner</label>
              <button class="trash-button" *ngIf="bannerPreview" (click)="removeBanner()">
                <i class="fa-solid fa-trash"></i>
              </button>

              <div class="drag-drop-zone" [ngClass]="{ 'uploaded': bannerPreview }" (dragover)="onDragOver($event)"
                (drop)="!bannerPreview && onBannerDrop($event)" (click)="!bannerPreview && bannerInput.click()">
                <p *ngIf="!bannerPreview">Drag & drop an image here or click to select</p>

                <div class="preview-container" *ngIf="bannerPreview">
                  <img [src]="bannerPreview" alt="Banner Preview" class="media-preview"
                    (click)="$event.stopPropagation()" #bannerImg />
                  <button class="fullscreen-button" (click)="openFullscreen(bannerImg)">
                    <i class="fa-solid fa-expand"></i>
                  </button>
                </div>
              </div>

              <input type="file" (change)="onBannerSelected($event)" accept="image/jpeg" hidden #bannerInput />
            </mat-card-content>
          </mat-card>
        </div>

      </div>
    </mat-card-content>

    <mat-card-actions class="d-flex justify-content-end px-4 pb-2">
      <button class="save-button" (click)="submitForm()">Save</button>
    </mat-card-actions>
  </mat-card>
</div>