.pagination-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 9px 0 10px;
  overflow-x: auto;
  width: 100%;
}

.pagination {
  .mat-paginator-container {
    flex-wrap: wrap;
    justify-content: center;
    
    
  }

  .mat-paginator-range-actions,
  .mat-paginator-page-size {
    flex-wrap: wrap;
  }

  .mat-paginator-page-size-label,
  .mat-select-trigger {
    font-size: 14px;
  }

  .mat-icon-button {
    width: 36px;
    height: 36px;
  }
}
/*  Media Queries  */

@media (max-width: 1200px) {
  .header-row h2 {
    font-size: 22px;
  }

  
}

@media (max-width: 1024px) {
  .header-row {
    flex-direction: column;
    align-items: flex-start;
  }

  
}

@media (max-width: 991px) {
  .custom-table {
    font-size: 14px;

    th,
    td {
      padding: 8px;
    }
  }
}

@media (max-width: 767px) {
  .custom-table {
    th,
    td {
      white-space: nowrap;
    }
  }

  .pagination {
    font-size: 12px;
  }

  th.mat-column-features,
  td.mat-column-features{
    display: none !important;
  }
}

@media (max-width: 575px) {
  .header-row {
    flex-direction: column;
    align-items: flex-start;
  }

  
  .custom-table input[matInput] {
    font-size: 12px;
    padding: 3px 6px;
  }
  th.mat-column-slNo,
  td.mat-column-slNo,
  th.mat-column-period,
  td.mat-column-period{
    display: none !important;
  }
}

@media (max-width: 320px) {
  .header-row h2 {
    font-size: 18px;
  }

  .custom-table {
    font-size: 12px;
  }
}

/* Responsive New Button */
@media (max-width: 1024px) {
  .add-button {
    font-size: 13px;
    padding: 0 14px;
    width: 75px;
    justify-content: center;
  }
  
}

@media (max-width: 767px) {
  .add-button {
    font-size: 12px;
    padding: 0 12px;
    height: 34px;
    width: 75px;
    justify-content: center;
  }
}

@media (max-width: 575px) {
  .add-button {
    font-size: 12px;
    padding: 0 12px;
    height: 34px;
    width: 75px;
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .add-button {
    font-size: 13px;
    height: 36px;
    padding: 0 10px;
    width: 75px;
    justify-content: center;
  }
}
